<div  >
 
 
  <!-- Call To Action Section -->
  <section class="dark-background">
    <main id="tecnolog">

      <div class="col-12 text-center">

        <div class="titulo-container">
          <h2 class="text-white">Desenvolvimento <span> seguro </span> e <span> eficaz </span> </h2>
          <div class="underline"></div>
          <p class="text-white" style="font-size: larger;">
            Mas sem nos limitar às tecnologias
          </p>
        </div>
      </div>

      <div class="swiper ">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-joomla-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-vue.js-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-nodejs-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-javascript-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-nuxt-js-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-express-js-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-adonis-js-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-java-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-postgresql-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-intellij-idea-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-mysql-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-sql-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-html-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-css-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-adobe-photoshop-100-2.png">
          </div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-adobe-100-1.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-adobe-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-canva-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-elementor-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-mariadb-100.png"></div>
          <div class="swiper-slide"><img src="./assets/assets/img/tecnologia/icons8-json-100.png"></div>

        </div>
         
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </main>

  </section><!-- hero section dark-background /Call To Action Section -->

  <main id="tecnolog">

    <div class="col-12 text-center">

      <div class="titulo-container">
        <h2 class="text-black">Mais de 100 empresas <span> satisfeitas </span> </h2>
        <div class="underline"></div>
        <br>
        <p class="text-black" style="font-size: larger;">
          O bom relacionamento com a sua marca é um dos pilares <br> do nosso trabalho.
        </p>
      </div>
    </div>

    <div class="swiper ">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="./assets/assets/img/clients/client-1.png" alt="1"></div>
        <div class="swiper-slide"><img src="./assets/assets/img/clients/client-2.png" alt="2"></div>
        <div class="swiper-slide"><img src="./assets/assets/img/clients/client-3.png" alt="3"></div>
        <div class="swiper-slide"><img src="./assets/assets/img/clients/client-4.png" alt="4"></div>
        <div class="swiper-slide"><img src="./assets/assets/img/clients/client-5.png" alt="5"></div>
        <div class="swiper-slide"><img src="./assets/assets/img/clients/client-6.png" alt="6"></div>
        <div class="swiper-slide"><img src="./assets/assets/img/clients/logo001.png" alt="7"></div>
        <div class="swiper-slide"><img src="./assets/assets/img/clients/logo002.png" alt="8"></div>
        <div class="swiper-slide"><img src="./assets/assets/img/clients/logo003.png" alt="9"></div>
        <div class="swiper-slide"><img src="./assets/assets/img/clients/logo004.png" alt="10"></div>
        <div class="swiper-slide"><img src="./assets/assets/img/clients/logo005.png" alt="11"></div>
        <div class="swiper-slide"><img src="./assets/assets/img/clients/logo006.png" alt="12"></div>

      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </main>



  <main id="tecnolog">

    <div class="col-12 text-center">

      <div class="titulo-container">
        <h2 class="text-black"><span> Publicidade </span> </h2>
        <div class="underline"></div>
        <br>

      </div>
    </div>


    <div id="gallery">

      <div class="item">

        <figure>
          <img src="./assets/assets/img/flayer/0021.jpg">
        </figure>
        </a>
      </div>

      <div class="item">
        <figure>
          <img src="./assets/assets/img/flayer/0013.jpg">
        </figure>
        </a>
      </div>

      <div class="item">
        <figure>
          <img src="./assets/assets/img/flayer/0014.jpg">
        </figure>
        </a>
      </div>
      <div class="item">
        <figure>
          <img src="./assets/assets/img/flayer/0015.jpg">
        </figure>
        </a>
      </div>

      <div class="item">
        <figure>
          <img src="./assets/assets/img/flayer/0012.jpg">
        </figure>
        </a>
      </div>
      <div class="item">
        <figure>
          <img src="./assets/assets/img/flayer/0018.jpg">
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/assets/img/flayer/008.jpg">
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/assets/img/flayer/009.jpg">
        </figure>
        </a>
      </div>
    </div>



  </main>



</div>