<div>

  <!-- loader How to Protect  Data Analysis -->

  <!-- end loader -->
  <!-- top nos p-5 --> 

  <div class="full_bg">
    <!-- header inner -->
    <div class="section">
      <!-- carousel code -->
      <div id="banner1" class="carousel slide slider_main">

        <div class="carousel-inner">
          <!-- first slide -->
          <div class="carousel-item active">
            <div class="carousel-caption cuplle">
              <div class="container">


                <div class="swiper mySwiper ">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">

                      <div class="row">
                        <div class="col-md-10">
                          <div class="photog ">

                            <h1>Sites Profissional</h1>

                            <span class="p-2">Criação de sites profissionais que destacam sua marca e impulsionam seus
                              resultados!</span>

                            <div class="p-2">
                              a partir de
                              <br>
                              <div>
                                <h3 class=""
                                  style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left; padding-bottom: 30px;">
                                  75.000 kz*
                                </h3>
                              </div>
                            </div>
                            <div class="p-2">
                              <a class="read_more" href="javascript:void(0)"> <span class="p-2">Saiba mais</span></a>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">

                      <div class="row">
                        <div class="col-md-10">
                          <div class="photog">
                            <h1>Domínio & Hospedagem Web</h1>

                            <span class="p-2">Domínio e hospedagem profissional para websites, com suporte confiável e
                              gestão eficiente.</span>


                            <div class="p-2">
                              <a class="read_more" href="javascript:void(0)"> <span class="p-2">Saiba mais</span></a>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="swiper-slide">
                      <div class="col-md-8">
                        <div class="photog">
                          <h1>Design gráfico</h1>
                          <span class="p-2">
                            Design gráfico inovador e de alta qualidade para dar destaque à sua marca com soluções
                            visuais poderosas e inesquecíveis.
                          </span>
                          <div class="p-2">

                            <div>
                              <h3 class=""
                                style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left; padding-bottom: 30px;">
                                Preços variados
                              </h3>
                            </div>
                          </div>
                          <div class="d-flex flex-row mb-2">

                            <div class="p-2">
                              <a class="read_more" href="javascript:void(0)"> <span class="p-2">Saiba mais</span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="col-md-8">
                        <div class="photog">
                          <h1>Marketing Digital </h1>
                          <span class="">Soluções estratégicas de marketing digital para aumentar a presença online e
                            gerar resultados para sua marca.
                          </span>
                          <div>
                            <h3 class=""
                              style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left; padding-bottom: 30px;">
                              Preços variados
                            </h3>
                          </div>
                          <div class="d-flex flex-row mb-2">

                            <a class="read_more" href="javascript:void(0)"> <span class="p-2">Saiba mais</span></a>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="col-md-8">
                        <div class="photog">
                          <h1>Aulas e Curso </h1>
                          <span>Aulas e cursos personalizados, presenciais ou online, adaptados às suas necessidades e
                            objetivos
                          </span>

                          <div class="d-flex flex-row mb-2">

                            <div class=" ">
                              <a class="read_more" href="javascript:void(0)"> <span class="p-2">Saiba mais</span></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>


              </div>
            </div>
          </div>


        </div>
        <!-- controls -->

      </div>
    </div>
  </div>
  <!-- end banner -->
  <!-- about -->
  <div class="about">
    <div class="container_width">
      <div class="row d_flex">
        <div class="col-md-7">
          <div class="titlepage text_align_left">
            <h2>Pensando em si</h2>
            <p>
              Com mais de 4 anos de experiência, a JLSystem está aqui para garantir tudo o que você precisa para começar
              e expandir seu negócio. Especializada em serviços de TI e Marketing Digital, nossa missão é ajudar nossos
              clientes a utilizar a tecnologia a favor de seu crescimento
              <br>
              oferecendo soluções inovadoras que garantem desempenho, segurança e resultados excepcionais.
              <br>
            </p>

          </div>
        </div>
        <div class="col-md-5">
          <div class="about_img text_align_center">
            <section>
              <figure class="gifw">
                <img style="width: 100%;" src="./assets/images/about.png">
              </figure>
            </section>


          </div>
        </div>

      </div>
    </div>

  </div>


 
  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        
        <div class="col-lg-12 align-self-center">
          <div class="services">
            <div class="row">
              <div class="col-lg-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="icon">
                    <img src="./assets/jms/images/service-icon-01.png" alt="reporting">
                  </div>
                  <div class="right-text">
                    <h4>Design Exclusivo </h4>
                    <p>Criamos identidade visual única para sua marca.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                  <div class="icon">
                    <img src="./assets/jms/images/service-icon-02.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Sites Responsivos</h4>
                    <p>Perfeitos para qualquer dispositivo, com desempenho impecáveis.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                  <div class="icon">
                    <img src="./assets/jms/images/service-icon-03.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>SEO & Visibilidade</h4>
                    <p> Seu site otimizado para aparecer no Google.</p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="icon">
                    <img src="./assets/jms/images/service-icon-04.png" alt="reporting">
                  </div>
                  <div class="right-text">
                    <h4>Custo-Benefício</h4>
                    <p>Planos acessíveis sem perder a qualidade.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                  <div class="icon">
                    <img src="./assets/jms/images/service-icon-05.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Suporte Contínuo</h4>
                    <p>Assistência antes e depois do projeto.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                  <div class="icon">
                    <img src="./assets/jms/images/service-icon-06.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Soluções Completas</h4>
                    <p>Sites, identidade visual, marketing e mais.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="icon">
                    <img src="./assets/jms/images/service-icon-07.png" alt="reporting">
                  </div>
                  <div class="right-text">
                    <h4>Entrega no Prazo</h4>
                    <p>Compromisso com eficiência e rapidez.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.7s">
                  <div class="icon">
                    <img src="./assets/jms/images/service-icon-08.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Conversão & Resultados</h4>
                    <p>Projetos pensados para atrair mais clientes.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="item wow fadeIn" data-wow-duration="1s" data-wow-delay="0.9s">
                  <div class="icon">
                    <img src="./assets/jms/images/service-icon-09.png" alt="">
                  </div>
                  <div class="right-text">
                    <h4>Espírito inovador</h4> 
                    <p>Oferecemos serviços de nova geração com tecnologia e ferramentas de ponta.</p>
                  </div>
                </div>
              </div>

            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <section class="timeline-section section-padding" id="section_3">
    <div class="section-overlay2"></div>

    <div class="container escolher">
      <div class="row">
 
        
        <div class="col-12 text-center "> 
            <h2 class="text-white mb-4">Porquê nos escolher ?</h1> 
        </div>


        <div class="row p-3">
          <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
            <div class="custom-block bg-white shadow-lg">
              <a href="topics-detail.html" style="text-align: center;">
                <img src="./assets/images/suporte1.gif" class=""
                  style="width: 130px; height: 130px; text-align: center;">

                <div class="d-flex">
                  <div>
                    <h5 class="mb-2">Suporte personalizado</h5>

                    <p class="mb-0">Atendemos de forma única, adaptada ao seu conhecimento e expectativas.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
            <div class="custom-block bg-white shadow-lg">
              <a href="topics-detail.html" style="text-align: center;">
                <img src="./assets/images/orientacao.gif" class=""
                  style="width: 130px; height: 130px; text-align: center;">

                <div class="d-flex">
                  <div>
                    <h5 class="mb-2">Orientação ao cliente</h5>

                    <p class="mb-0">Escutamos, resolvemos e caminhamos ao lado dos nossos clientes.</p>
                  </div>

                </div>
              </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
            <div class="custom-block bg-white shadow-lg">
              <a href="topics-detail.html" style="text-align: center;">
                <img src="./assets/images/suporte.gif" class=""
                  style="width: 130px; height: 130px; text-align: center;">

                <div class="d-flex">
                  <div>
                    <h5 class="mb-2">Espírito inovador</h5>

                    <p class="mb-0">Oferecemos serviços de nova geração com tecnologia e ferramentas de ponta.</p>
                  </div>

                </div>
              </a>
            </div>
          </div>



        </div>



        <div class="col-12 text-center mt-3">
          <p class="text-white">
            <a href="#" class="btn custom-btn custom-border-btn ms-3">Fala com um Especialista</a>
          </p>
        </div>
      </div>
    </div>
  </section>



  <section class="timeline-section section-padding" id="section_3">


    <div class="container">
      <div class="row">


        <div class="about2">
          <div class="container_width">
            <div class="row d_flex">
              <div class="col-md-5">
                <div class="titlepage text_align_left">
                  <p>
                    Nossa Missão é Gerar Resultados Todos os Dias para Seu Negócio, Gerando Muita Visibilidade,
                    Facilidade e Muitas Conversões e Faturamento para Sua Empresa
                    <br>
                  </p>

                </div>
              </div>
              <div class="col-md-7">

                <div class="row">

                  <div class="col-lg-4 col-12 p-1" data-wow-delay="0.1s">
                    <div class=" align-items-center">
                      <div class="flipbox-container">
                        <!-- flipbox front -->
                        <div class="nos p-4">
                          <div class="flipbox-content">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                              style="width: 100%; height: 80px;">
                              <i class="fa fa-solid fa-users fa-3x text-white"></i>
                            </div>
                            <div class="ms-3">
                              <h3 class="m-0 text-center"
                                style="color: rgb(185, 0, 0); font-weight: bold; font-size: 26px;"> +
                                200 </h3>
                              <h6 class="m-0 text-white text-center" style="font-weight: bold; font-size: 15px;">
                                Clientes atendidos </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-12 p-1" data-wow-delay="0.1s">
                    <div class=" align-items-center">
                      <div class="flipbox-container">
                        <!-- flipbox front -->
                        <div class="nos  p-4">
                          <div class="flipbox-content">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                              style="width: 100%; height: 80px;">
                              <i class="fa fa-solid fa-code fa-3x text-white"></i>
                            </div>
                            <div class="ms-3">
                              <h3 class="m-0 text-center"
                                style="color: rgb(185, 0, 0); font-weight: bold; font-size: 26px;"> +
                                700 </h3>
                              <h6 class="m-0 text-white text-center" style="font-weight: bold; font-size: 15px;">
                                Projecto realizado </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-4 col-12 p-1" data-wow-delay="0.1s">
                    <div class=" align-items-center">
                      <div class="flipbox-container">
                        <!-- flipbox front -->
                        <div class="nos  p-4">
                          <div class="flipbox-content">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                              style="width: 100%; height: 80px;">
                              <i class="fa fa-solid fa-calendar-plus fa-3x text-white"></i>
                            </div>
                            <div class="ms-3">
                              <h3 class="m-0 text-center"
                                style="color: rgb(185, 0, 0); font-weight: bold; font-size: 26px;"> +
                                3 anos </h3>
                              <h6 class="m-0 text-white text-center" style="font-weight: bold; font-size: 15px;"> de
                                experiência ....</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>






        </div>

      </div>
  </section>





  <div class="protect">

    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <div class="titlepage text_align_center blue-border text-center mrgb4x">
            <h2>Nossos Planos para Voce </h2>
            <p>
              Escolha o plano ideal para a sua empresa
            </p>
          </div>
        </div>
      </div>


      <div class="snip1299">
        <div class="plan">
          <header>
            <h4 class="plan-title">
              Starter
            </h4>
            <div class="plan-cost">
              <span class="plan-type">a partir de:</span>
              <br>
              <span class="plan-price">75.000kz</span>
            </div>
          </header>
          <ul class="plan-features">
            <li><i class="ion--checkmark"> </i> Até 5 (ver paginas)</li>
            <li><i class="weui--close-filled"> </i>Subpáginas</li>
            <li><i class="ion--checkmark"> </i>Vídeo & Slide Show Dinâmico 2 max</li>
            <li><i class="ion--checkmark"> </i>Integração com Redes Sociais</li>
            <li><i class="weui--close-filled"> </i>Newsletter Formulário</li>

            <li><i class="ion--checkmark"> </i>Botão do whatsapp</li>
            <li><i class="ion--checkmark"> </i>Localização Estatica</li>
            <li><i class="weui--close-filled"> </i>Localização Dinâmica(Google Mapa)</li>
            <li><i class="weui--close-filled"> </i>Formulário Personalizado </li>
            <li><i class="weui--close-filled"> </i> Página de Projeto/Portfolio </li>
            <li><i class="weui--close-filled"> </i>Área de Notícias/Blogs </li>
            <li><i class="weui--close-filled"> </i>Chat de Atendimento Online </li>
            <li><i class="weui--close-filled"> </i> Personalização por Solicitação</li>

          </ul>
          <div class="plan-select"><a href="">Seleciona Plano</a></div>
        </div>

        <div class="plan">
          <header>
            <h4 class="plan-title">
              Basic
            </h4>
            <div class="plan-cost">
              <span class="plan-type">a partir de:</span>
              <br>
              <span class="plan-price">115.000kz</span>
            </div>
          </header>
          <ul class="plan-features">
            <li><i class="ion--checkmark"> </i> Até 10(ver paginas)</li>
            <li><i class="ion--checkmark"> </i>Até 6 Subpáginas</li>
            <li><i class="ion--checkmark"> </i>Vídeo & Slide Show Dinâmico 12 max.</li>
            <li><i class="ion--checkmark"> </i>Integração com Redes Sociais</li>
            <li><i class="weui--close-filled"> </i>Newsletter Formulário</li>

            <li><i class="ion--checkmark"> </i>Botão do whatsapp</li>
            <li><i class="ion--checkmark"> </i>Localização Estatica</li>
            <li><i class="weui--close-filled"> </i>Localização Dinâmica(Google Mapa)</li>

            <li><i class="ion--checkmark"> </i>Formulário Personalizado 1</li>
            <li><i class="ion--checkmark"> </i> Página de Projeto/Portfolio </li>
            <li><i class="weui--close-filled"> </i>Área de Notícias/Blogs </li>
            <li><i class="weui--close-filled"> </i>Chat de Atendimento Online </li>
            <li><i class="weui--close-filled"> </i> Personalização por Solicitação</li>

          </ul>
          <div class="plan-select"><a href="">Seleciona Plano</a></div>
        </div>
        <div class="plan featured">
          <header>
            <h4 class="plan-title">
              Professional
            </h4>
            <div class="plan-cost">
              <span class="plan-type">a partir de:</span>
              <br>
              <span class="plan-price">180.000kz</span>
            </div>
          </header>
          <ul class="plan-features">
            <li><i class="ion--checkmark"> </i> Até 16(ver paginas)</li>
            <li><i class="ion--checkmark"> </i>Até 9 Subpáginas</li>
            <li><i class="ion--checkmark"> </i>Vídeo & Slide Show Dinâmico 20 max</li>
            <li><i class="ion--checkmark"> </i>Integração com Redes Sociais</li>

            <li><i class="ion--checkmark"> </i>Newsletter Formulário</li>
            <li><i class="ion--checkmark"> </i>Botão do whatsapp</li>
            <li><i class="ion--checkmark"> </i>Localização Estatica</li>
            <li><i class="ion--checkmark"> </i>Localização Dinâmica(Google Mapa)</li>

            <li><i class="ion--checkmark"> </i>Formulário Personalizado 5</li>
            <li><i class="ion--checkmark"> </i> Página de Projeto/Portfolio </li>
            <li><i class="weui--close-filled"> </i>Área de Notícias/Blogs </li>
            <li><i class="weui--close-filled"> </i>Chat de Atendimento Online </li>
            <li><i class="weui--close-filled"> </i> Personalização por Solicitação</li>

          </ul>
          <div class="plan-select"><a href="">Seleciona Plano</a></div>
        </div>
        <div class="plan">
          <header>
            <h4 class="plan-title">
              Ultra
            </h4>
            <div class="plan-cost">
              <span class="plan-type">a partir de:</span>
              <br>
              <span class="plan-price">250.000kz</span>
            </div>
          </header>
          <ul class="plan-features">
            <li><i class="ion--checkmark"> </i> Até 35(ver paginas)</li>
            <li><i class="ion--checkmark"> </i>Até 16 Subpáginas</li>
            <li><i class="ion--checkmark"> </i>Vídeo & Slide Show Dinâmico Ilimitado</li>
            <li><i class="ion--checkmark"> </i>Integração com Redes Sociais</li>
            <li><i class="ion--checkmark"> </i>Newsletter Formulário</li>

            <li><i class="ion--checkmark"> </i>Botão do whatsapp</li>
            <li><i class="ion--checkmark"> </i>Localização Estatica</li>
            <li><i class="ion--checkmark"> </i>Localização Dinâmica(Google Mapa)</li>

            <li><i class="ion--checkmark"> </i>Formulário Personalizado 15</li>
            <li><i class="ion--checkmark"> </i> Página de Projeto/Portfolio </li>
            <li><i class="ion--checkmark"> </i>Área de Notícias/Blogs </li>
            <li><i class="ion--checkmark"> </i>Chat de Atendimento Online </li>
            <li><i class="ion--checkmark"> </i> Personalização por Solicitação</li>

          </ul>
          <div class="plan-select"><a href="">Seleciona Plano</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <!-- end protect  Grow your website-->
 






  <div id="blog" class="our-blog section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.25s">
          <div class="titlepage text_align_center blue-border text-center mrgb4x">
            <h2>Parceiros & Clientes</h2>
           
          </div>
          
        </div>
       
      </div>
   
    </div>
    <div id="gallery">
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo0010.jpg"> 
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo004.jpg"> 
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo001.jpg"> 
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/ark_tracos.jpg"> 
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo003.jpg"> 
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo002.jpg"> 
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo005.jpg"> 
        </figure>
        </a>
      </div>

      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo012.jpg"> 
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo0013.jpg"> 
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo015.jpg"> 
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo014.jpg"> 
        </figure>
        </a>
      </div>
    </div>
  </div>

 


</div>