<div cla>

  <!-- loader How to Protect  Data Analysis -->

  <!-- end loader -->
  <!-- top nos p-5 -->




  <!-- Hero Section -->
  <section id="hero" class="hero section background-inicio">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="zoom-out">
          <h1>Sua Marca Profissional Começa Aqui</h1>
          <p>Criação de logotipos, identidades visuais e websites prontos para colocar seu negócio em destaque.</p>
          <div class="d-flex">
            <a href="#about" class="btn-get-started">Solicitar um orçamento</a>
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8"
              class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch
                Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="./assets/assets/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- /Hero Section -->

  <!-- Clients Section -->
  <section id="clients" class="clients section  ">

    <div class=" " data-aos="zoom-in">

      <div class="slider-container">
        <div class="slider-track">
          <!-- 6 slides originais -->
          <div class="slide"><img src="./assets/assets/img/clients/client-1.png" alt="1"></div>
          <div class="slide"><img src="./assets/assets/img/clients/client-2.png" alt="2"></div>
          <div class="slide"><img src="./assets/assets/img/clients/client-3.png" alt="3"></div>
          <div class="slide"><img src="./assets/assets/img/clients/client-4.png" alt="4"></div>
          <div class="slide"><img src="./assets/assets/img/clients/client-5.png" alt="5"></div>
          <div class="slide"><img src="./assets/assets/img/clients/client-6.png" alt="6"></div>

          <!-- Duplicação para efeito infinito -->
          <div class="slide"><img src="./assets/assets/img/clients/client-1.png" alt="1"></div>
          <div class="slide"><img src="./assets/assets/img/clients/client-2.png" alt="2"></div>
          <div class="slide"><img src="./assets/assets/img/clients/client-3.png" alt="3"></div>
          <div class="slide"><img src="./assets/assets/img/clients/client-4.png" alt="4"></div>
          <div class="slide"><img src="./assets/assets/img/clients/client-5.png" alt="5"></div>
          <div class="slide"><img src="./assets/assets/img/clients/client-6.png" alt="6"></div>
        </div>
      </div>




  </section>
  <!-- /Clients Section -->




  <!-- Services Section -->
  <section id="services" class="services section light-background" style="padding-top: 10%;">

    <div class="container">

      <div class="row gy-4" style="text-align: center;">

        <div class="col-xl-4 col-md-6 d-flex pt-3" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-pencil-square icon"></i></div>
            <h4><a href="" class="stretched-link">Design Exclusivo</a></h4>
            <p>Oferecemos soluções visuais únicas com design exclusivo, alinhado à essência e aos objetivos de cada
              cliente</p>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-xl-4 col-md-6 d-flex pt-3" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-rocket-takeoff-fill icon"></i></div>
            <h4><a href="" class="stretched-link">SEO & Visibilidade</a></h4>
            <p>Impulsionamos sua presença online com estratégias de SEO que aumentam sua visibilidade e atraem mais
              clientes.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6 d-flex pt-3" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-piggy-bank-fill icon"></i></div>
            <h4><a href="" class="stretched-link">Custo-Benefício</a></h4>
            <p>Soluções inteligentes que oferecem o melhor custo-benefício para você investir com eficiência e obter
              resultados reais.</p>
          </div>
        </div><!-- End Service Item -->


        <div class="col-xl-4 col-md-6 d-flex pt-3" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-broadcast icon"></i></div>
            <h4><a href="" class="stretched-link">Soluções Completas</a></h4>
            <p>Oferecemos soluções completas, do planejamento à execução, para atender todas as necessidades do seu
              projeto em um só lugar.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6 d-flex pt-3" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
            <h4><a href="" class="stretched-link">Entrega no Prazo</a></h4>
            <p>Compromisso com prazos é parte da nossa essência: entregamos no tempo certo, com qualidade garantida.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-4 col-md-6 d-flex pt-3" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-broadcast icon"></i></div>
            <h4><a href="" class="stretched-link">Conversão & Resultados</a></h4>
            <p>Nosso foco vai além da estética — criamos estratégias orientadas para conversão e resultados reais para o
              seu negócio.</p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Services Section -->





  <section class="timeline-section section-padding" id="section_3">
    <div class="section-overlay2"></div>

    <div class="container escolher">
      <div class="row">


        <div class="col-12 text-center ">
          <h2 class="text-white mb-4">Porquê nos escolher ?</h1>
        </div>


        <div class="row p-3">
          <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
            <div class="custom-block bg-white shadow-lg">
              <a href="topics-detail.html" style="text-align: center;">
                <img src="./assets/images/suporte1.gif" class=""
                  style="width: 130px; height: 130px; text-align: center;">

                <div class="d-flex">
                  <div>
                    <h5 class="mb-2">Suporte personalizado</h5>

                    <p class="mb-0">Atendemos de forma única, adaptada ao seu conhecimento e expectativas.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
            <div class="custom-block bg-white shadow-lg">
              <a href="topics-detail.html" style="text-align: center;">
                <img src="./assets/images/orientacao.gif" class=""
                  style="width: 130px; height: 130px; text-align: center;">

                <div class="d-flex">
                  <div>
                    <h5 class="mb-2">Orientação ao cliente</h5>

                    <p class="mb-0">Escutamos, resolvemos e caminhamos ao lado dos nossos clientes.</p>
                  </div>

                </div>
              </a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
            <div class="custom-block bg-white shadow-lg">
              <a href="topics-detail.html" style="text-align: center;">
                <img src="./assets/images/suporte.gif" class=""
                  style="width: 130px; height: 130px; text-align: center;">

                <div class="d-flex">
                  <div>
                    <h5 class="mb-2">Espírito inovador</h5>

                    <p class="mb-0">Oferecemos serviços de nova geração com tecnologia e ferramentas de ponta.</p>
                  </div>

                </div>
              </a>
            </div>
          </div>



        </div>



        <div class="col-12 text-center mt-3">
          <p class="text-white">
            <a href="#" class="btn custom-btn custom-border-btn ms-3">Fala com um Especialista</a>
          </p>
        </div>
      </div>
    </div>
  </section>



  <section class="timeline-section section-padding" id="section_3">


    <div class="container">
      <div class="row">


        <div class="about2">
          <div class="container_width">
            <div class="row d_flex">
              <div class="col-md-5">
                <div class="titlepage text_align_left">
                  <p>
                    Nossa Missão é Gerar Resultados Todos os Dias para Seu Negócio, Gerando Muita Visibilidade,
                    Facilidade e Muitas Conversões e Faturamento para Sua Empresa
                    <br>
                  </p>

                </div>
              </div>
              <div class="col-md-7">

                <div class="row">

                  <div class="col-lg-4 col-12 p-1" data-wow-delay="0.1s">
                    <div class=" align-items-center">
                      <div class="flipbox-container">
                        <!-- flipbox front -->
                        <div class="nos p-4">
                          <div class="flipbox-content">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                              style="width: 100%; height: 80px;">
                              <i class="fa fa-solid fa-users fa-3x text-white"></i>
                            </div>
                            <div class="ms-3">
                              <h3 class="m-0 text-center"
                                style="color: rgb(185, 0, 0); font-weight: bold; font-size: 26px;"> +
                                200 </h3>
                              <h6 class="m-0 text-white text-center" style="font-weight: bold; font-size: 15px;">
                                Clientes atendidos </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-12 p-1" data-wow-delay="0.1s">
                    <div class=" align-items-center">
                      <div class="flipbox-container">
                        <!-- flipbox front -->
                        <div class="nos  p-4">
                          <div class="flipbox-content">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                              style="width: 100%; height: 80px;">
                              <i class="fa fa-solid fa-code fa-3x text-white"></i>
                            </div>
                            <div class="ms-3">
                              <h3 class="m-0 text-center"
                                style="color: rgb(185, 0, 0); font-weight: bold; font-size: 26px;"> +
                                700 </h3>
                              <h6 class="m-0 text-white text-center" style="font-weight: bold; font-size: 15px;">
                                Projecto realizado </h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-4 col-12 p-1" data-wow-delay="0.1s">
                    <div class=" align-items-center">
                      <div class="flipbox-container">
                        <!-- flipbox front -->
                        <div class="nos  p-4">
                          <div class="flipbox-content">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                              style="width: 100%; height: 80px;">
                              <i class="fa fa-solid fa-calendar-plus fa-3x text-white"></i>
                            </div>
                            <div class="ms-3">
                              <h3 class="m-0 text-center"
                                style="color: rgb(185, 0, 0); font-weight: bold; font-size: 26px;"> +
                                3 anos </h3>
                              <h6 class="m-0 text-white text-center" style="font-weight: bold; font-size: 15px;"> de
                                experiência ....</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>






        </div>

      </div>
  </section>



  <!-- Call To Action Section -->
  <section id="call-to-action" class="call-to-action section dark-background">

    <img src="./assets/assets/img/cta-bg.jpg" alt="">

    <div class="container">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-9  text-xl-start">
          <h1>Transforme ideias em resultados.</h1>
          <p>Do conceito ao projeto final, unimos criatividade, estratégia e tecnologia para transformar sua visão em
            soluções visuais que fortalecem sua marca e impulsionam seu negócio.</p>
<br>
            <p>
              Cada projeto é uma oportunidade de dar vida às suas ideias com criatividade, estratégia e excelência.
 <br>
Aliamos design impactante e soluções digitais personalizadas para transformar seu potencial em conquistas concretas.
            </p>
        </div>
        <div class="col-xl-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Contacta-nos</a>
        </div>
      </div>

    </div>

  </section><!-- hero section dark-background /Call To Action Section -->





  <!-- Call To Action Section -->
  <section class="dark-background">

 
    <div class="container">

      <div id="tecnolog" class="" style="width: 150%;" >
        <div id="testimonials_header">
            <h1>Avaliações</h1>
            <h2>
                O que os clientes dizem
            </h2>
            <p>
                Quer saber o que torna a nossa marca tão especial?
                Confira o que nossos clientes têm a dizer!
            </p>
        </div>

        <!-- Swiper -->
        <div class="swiper_tecnologia">
          <div class="swiper-wrapper">
 
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-joomla-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-vue.js-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-nodejs-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-javascript-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-nuxt-js-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-express-js-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-adonis-js-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-java-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-postgresql-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-intellij-idea-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-mysql-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-sql-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-html-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-css-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-adobe-photoshop-100-2.png">
            </div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-adobe-100-1.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-adobe-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-canva-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-elementor-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-mariadb-100.png"></div>
            <div class="swiper-slide p-4"><img src="./assets/assets/img/tecnologia/icons8-json-100.png"></div>
   
          </div>
                 <div class="swiper-pagination"></div>
        
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

      </div>

    </div>

  </section><!-- hero section dark-background /Call To Action Section -->


   <main id="testimonials">
        <div id="testimonials_header">
            <h1>Avaliações</h1>
            <h2>
                O que os clientes dizem
            </h2>
            <p>
                Quer saber o que torna a nossa marca tão especial?
                Confira o que nossos clientes têm a dizer!
            </p>
        </div>

        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonial-rate">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <blockquote class="testimonial-quote">
                        "Experiência incrível! Desde o primeiro contato, fui muito bem atendido e recebi 
						todas as informações de forma clara. Recomendo para todos!"
                    </blockquote>

                    <div class="testimonial-author">
                        <div class="author-avatar">
                            <img src="src/images/avatar1.jpg" alt="Imagem de uma pessoa">
                        </div>

                        <div class="author-info">
                            <h3>Fulano de Tal</h3>
                            <p>Cliente desde 2020</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-rate">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <blockquote class="testimonial-quote">
                        "Experiência incrível! Desde o primeiro contato, fui muito bem atendido e recebi 
						todas as informações de forma clara. Recomendo para todos!"
                    </blockquote>

                    <div class="testimonial-author">
                        <div class="author-avatar">
                            <img src="src/images/avatar2.jpg" alt="Imagem de uma pessoa">
                        </div>

                        <div class="author-info">
                            <h3>Fulano de Tal</h3>
                            <p>Cliente desde 2020</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-rate">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <blockquote class="testimonial-quote">
                        "Experiência incrível! Desde o primeiro contato, fui muito bem atendido e recebi 
						todas as informações de forma clara. Recomendo para todos!"
                    </blockquote>

                    <div class="testimonial-author">
                        <div class="author-avatar">
                            <img src="src/images/avatar3.jpg" alt="Imagem de uma pessoa">
                        </div>

                        <div class="author-info">
                            <h3>Fulano de Tal</h3>
                            <p>Cliente desde 2020</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-rate">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <blockquote class="testimonial-quote">
                        "Experiência incrível! Desde o primeiro contato, fui muito bem atendido e recebi 
						todas as informações de forma clara. Recomendo para todos!"
                    </blockquote>

                    <div class="testimonial-author">
                        <div class="author-avatar">
                            <img src="src/images/avatar1.jpg" alt="Imagem de uma pessoa">
                        </div>

                        <div class="author-info">
                            <h3>Fulano de Tal</h3>
                            <p>Cliente desde 2020</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </main>




</div>