<div>

  <!-- loader How to Protect -->

  <!-- end loader -->
  <!-- top -->
  <!-- header -->
  <header class="header-area">
    <div class="left">
      <a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
    <div class="right">
      <a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
    <div class="container">
      <div class="row d_flex">
        <div class="col-sm-3 logo_sm">
          <div class="logo">
            <a href="index.html"></a>
          </div>
        </div>
        <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
          <div class="navbar-area">
            <nav class="site-navbar" style="justify-content: center; justify-items: center;">
              <ul>
                <li><a class="active" href="index.html">WebSite</a></li>
                <li><a href="about.html">Loja_Online</a></li>
                <li><a href="index.html" class="logo_midle">Dominio & Hospedagem</a></li>
                <li><a href="news.html">Sistemas..</a></li>
                <li><a href="doctores.html">Aplicativos</a></li>

              </ul>
              <button class="nav-toggler">
                <span></span>
              </button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->
  <div class="full_bg">
    <!-- header inner -->
    <div class="section">
      <!-- carousel code -->
      <div id="banner1" class="carousel slide slider_main">

        <div class="carousel-inner">
          <!-- first slide -->
          <div class="carousel-item active">
            <div class="carousel-caption cuplle">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <div class="photog">
                      <h1>Criação de <br>WebSites</h1>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- second slide -->
          <div class="carousel-item">
            <div class="carousel-caption cuplle">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <div class="photog">
                      <h1>Care early<br>Coronavirus</h1>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- third slide -->
          <div class="carousel-item">
            <div class="carousel-caption cuplle">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <div class="photog">
                      <h1>Care early<br>Coronavirus</h1>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- controls -->

      </div>
    </div>
  </div>
  <!-- end banner -->
  <!-- about -->
  <div class="about">
    <div class="container_width">
      <div class="row d_flex">
        <div class="col-md-7">
          <div class="titlepage text_align_left">
            <h2>Criação de Site Profissional! </h2>
            <p>
              Nos tempos modernos sua empresa precisa estar muito bem posicionada na internet.
              <br>
              Sua presença on-line é o que ajuda as empresas a crescer por ter alta visibilidade entre os clientes em
              potencial. Qualquer negócio, grande ou pequeno, deve ter a expansão da presença on-line como parte
              fundamental de sua estratégia de marketing on-line
              <br>
              <br>
              Fale com nossa equipe, peça seu orçamento e seja mais um parceiro de alto nível da JLSySTEM.

            </p>

            <a class="read_more"
              href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
              Entrar em contacto whatsapp</a>
          </div>
        </div>
        <div class="col-md-5">
          <div class="about_img text_align_center">
            <figure><img src="./assets/images/about.png" alt="#" /></figure>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end about Coronavirus Cases -->
  <!-- coronata -->
  <div class="coronata">
    <div class="container">
      <div class="row d_flex grid">
        <div class="col-md-7">
          <div class="coronata_img text_align_center">
            <figure><img src="./assets/images/corona.png" alt="#" /></figure>
          </div>
        </div>
        <div class="col-md-5 oder1">
          <div class="titlepage text_align_left">
            <h2>Coronavirus what it is?</h2>
            <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters, as opposed to using
            </p>
            <a class="read_more" href="coronata.html">About More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end coronata -->

  <!-- protect -->
  <div class="protect">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage text_align_center blue-border text-center mrgb4x">
            <h2>Nossos Planos para Voce </h2>
            <p>
              Escolha o plano ideal para a sua empresa
            </p>
          </div>
        </div>
      </div> 

      <div class="pricing-plan ">

        <div class="pricing-content text-center">

          <div class="plan-option">
            <ul class="nav nav-pills">
              <li class="active"><a data-toggle="tab" aria-expanded="true">MONTHLY</a>
              </li>
              <li><span class="or-crircle">OR</span></li>
              <li><a data-toggle="tab" href="#yearly">YEARLY</a></li>
            </ul>
          </div>


          <div class="tab-content mrgt8x">
            <div id="monthly" class="tab-pane   in active">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="outer-border">
                    <div class="pricing-table">
                      <div class="upper-detail">
                        <h5 class="plan-name letterspace4x">BASIC</h5>
                        <p>Perfectly Suitable For Business</p>
                        <div class="plan-price">
                          <h1><sup>$</sup>10</h1>
                          <sub><span class="underline">PER</span><span>MONTH</span></sub>
                        </div>
                      </div>
                      <div class="lower-detail">
                        <ul>
                          <li>Full statistics</li>
                          <li>Max 100 items/month</li>
                          <li>Up to 5 users</li>
                          <li>Unlimited queries</li>
                        </ul>
                        <a href="#" class="btn-get">GET STARTED</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="outer-border">
                    <div class="pricing-table">
                      <div class="upper-detail">
                        <div class="new-tag">
                          <span>NEW!</span>
                        </div>
                        <h5 class="plan-name letterspace4x">POPULAR</h5>
                        <p>Best Plan for Professionals Users</p>
                        <div class="plan-price">
                          <h1><sup>$</sup>39</h1>
                          <sub><span class="underline">PER</span><span>MONTH</span></sub>
                        </div>
                      </div>
                      <div class="lower-detail">
                        <ul>
                          <li>Full statistics</li>
                          <li>Max 100 items/month</li>
                          <li>Up to 5 users</li>
                          <li>Unlimited queries</li>
                        </ul>
                        <a href="#" class="btn-get">GET STARTED</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-6">
                  <div class="outer-border">
                    <div class="pricing-table">
                      <div class="upper-detail">
                        <h5 class="plan-name letterspace4x">PREMIUM</h5>
                        <p>Power User Select this Plan</p>
                        <div class="plan-price">
                          <h1><sup>$</sup>79</h1>
                          <sub><span class="underline">PER</span><span>MONTH</span></sub>
                        </div>
                      </div>
                      <div class="lower-detail">
                        <ul>
                          <li>Full statistics</li>
                          <li>Max 100 items/month</li>
                          <li>Up to 5 users</li>
                          <li>Unlimited queries</li>
                        </ul>
                        <a href="#" class="btn-get">GET STARTED</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <footer style="height: 60px; background-color: black; text-align: center;">
        <div class=" ">
          <p class=" ">* Contratação de extras não disponível no plano Free</p>
        </div>
      </footer>

    </div>











    <div class="protect_bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <!--  Demos -->
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="protect_box text_align_center">
                  <div class="desktop">
                    <i><img src="./assets/images/pro1.png" alt="#" /></i>
                    <h3> Wear Mask</h3>
                    <span> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
                      model text, and a search for</span>
                  </div>
                  <a class="read_more" href="protect.html">Read More</a>
                </div>
              </div>
              <div class="item">
                <div class="protect_box text_align_center">
                  <div class="desktop">
                    <i><img src="./assets/images/pro2.png" alt="#" /></i>
                    <h3> Wash Your Hands</h3>
                    <span> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
                      model text, and a search for</span>
                  </div>
                  <a class="read_more" href="protect.html">Read More</a>
                </div>
              </div>
              <div class="item">
                <div class="protect_box text_align_center">
                  <div class="desktop">
                    <i><img src="./assets/images/pro3.png" alt="#" /></i>
                    <h3> Stay at Home</h3>
                    <span> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
                      model text, and a search for</span>
                  </div>
                  <a class="read_more" href="protect.html">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end protect -->
  <!-- cases -->
  <div class="cases">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage text_align_center ">
            <h2>Coronavirus Cases</h2>
            <p>making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words,
              combined with a handful</p>
          </div>
        </div>
      </div>
      <div class="row d_flex">
        <div class=" col-md-4">
          <div class="latest text_align_center">
            <figure><img src="./assets/images/cases1.png" alt="#" /></figure>
            <a class="read_more" href="cases.html">Read More</a>
            <div class="nostrud">
              <h3>Cases 01</h3>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of
                letters, as opposed to using 'Content here, content here', making it look</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4">
          <div class="latest text_align_center">
            <figure><img src="./assets/images/cases2.png" alt="#" /></figure>
            <a class="read_more" href="cases.html">Read More</a>
            <div class="nostrud">
              <h3>Cases 02</h3>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of
                letters, as opposed to using 'Content here, content here', making it look</p>
            </div>
          </div>
        </div>
        <div class=" col-md-4">
          <div class="latest text_align_center">
            <figure><img src="./assets/images/cases3.png" alt="#" /></figure>
            <a class="read_more" href="cases.html">Read More</a>
            <div class="nostrud">
              <h3>Cases 03</h3>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of
                letters, as opposed to using 'Content here, content here', making it look</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end cases -->
  <!-- doctors -->
  <div class="doctors">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage text_align_center ">
            <h2>What doctors say..</h2>
          </div>
        </div>
      </div>
      <div class="row d_flex">
        <div class=" col-md-6">
          <div id="ho_efcet" class="reader text_align_center">
            <i><img src="./assets/images/doctor1.png" alt="#" /></i>
            <h3>Dr.Golap den</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed to using 'Content here, content here', making it look</p>
            <span><img src="./assets/images/do.png" alt="#" /></span>
          </div>
        </div>
        <div class=" col-md-6">
          <div id="ho_efcet" class="reader text_align_center">
            <i><img src="./assets/images/doctor2.png" alt="#" /></i>
            <h3>Dr.Golap den</h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed to using 'Content here, content here', making it look</p>
            <span><img src="./assets/images/do.png" alt="#" /></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end cases -->
  <!-- update -->
  <div class="update">
    <div class="cevery_white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage">
              <h2>Get Every Update.... </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cevery_bg">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form id="colof" class="form_subscri">
              <input class="newsl" placeholder="Your Email" type="text" name="Email">
              <button class="subsci_btn">Subscribe Now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- update -->
  <!--  footer -->
  <footer>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="hedingh3 text_align_left">
              <h3>Resources</h3>
              <ul class="menu_footer">
                <li><a href="index.html">Home</a>
                <li>
                <li><a href="javascript:void(0)">What we do</a>
                <li>
                <li> <a href="javascript:void(0)">Media</a>
                <li>
                <li> <a href="javascript:void(0)">Travel Advice</a>
                <li>
                <li><a href="javascript:void(0)">Protection</a>
                <li>
                <li><a href="javascript:void(0)">Care</a>
                <li>
              </ul>


            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="hedingh3 text_align_left">
              <h3>About</h3>
              <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various</p>
            </div>
          </div>



          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="hedingh3  text_align_left">
              <h3>Contact Us</h3>
              <ul class="top_infomation">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                  Making this the first true
                </li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>
                  Call : +01 1234567890
                </li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i>
                  <a href="Javascript:void(0)">Email : demo@gmail.com</a>
                </li>
              </ul>


            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="hedingh3 text_align_left">
              <h3>countrys</h3>
              <div class="map">
                <img src="./assets/images/map.png" alt="#" />
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <p>© 2020 All Rights Reserved. Design by <a href="https://html.design/"> Free html Templates</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer -->


</div>