<div>

  <!-- end loader -->
  <!-- top -->
  
  <div class="full_bg_design">
    <!-- header inner -->
    <div class="section">
      <!-- carousel code -->
      <div id="banner1" class="carousel slide slider_main">

      
        <div class="carousel-inner">
          <!-- first slide -->
          <div class="carousel-item active">
            <div class="carousel-caption cuplle">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <div class="photog">
                      <h1>Design Gráfico </h1>
                      <span class="">As primeiras aparições são cruciais: reduza sua taxa de rejeição e retenha mais
                        clientes
                        com gráficos criativos e atraentes que mostrem sua empresa de maneira atraente e
                        versátil.</span>


                      <div class="d-flex flex-row mb-3 mt-3">
                        <div class="">
                          <a class="read_more" href="javascript:void(0)"> <span class="p-2">Contacto What</span></a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- controls -->

      </div>
    </div>
  </div>
  <!-- end banner -->
  <!-- about -->
  <div class="about">
    <div class="container_width">
      <nav class="menu-service">
        <ul>
          <li><a href="#/criacao-de-logotipo">Logotipo</a></li>
          <li><a href="#/criacao-de-cartoes">Cartões Visitas</a></li>
          <li><a href="#/criacao-flyer-folder" class="active">Flyer e folder</a></li>
          <li><a href="#/papelaria">Papelaria</a></li>
        </ul>
      </nav>

      <div class="row d_flex pt-5">

        <div class="col-md-7">
          <div class="titlepage text_align_left">
            <h2>Flyers / panfletos.</h2>
            <div class="">
              a partir de
              <br>
              <div>
                <h3 class="" style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left;">
                  4.500 kz*
                </h3>
              </div>
            </div>
            <p>
              Elaboração de Flyers e panfletos específicos para o seu público. Um design profissional trará muito mais
              retorno na sua propaganda, indicando os melhores serviços ou produtos a serem divulgados de forma a ter
              contato com o consumidor
              <br>
              Entregamos nas extensões: JPG,PNG PDF e EPS(Photoshop)
            </p>

            <div class="d-flex flex-row mb-3">
              <div class="">
                <a class="read_more"
                  href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                  Entrar em contacto whatsapp</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="about_img text_align_center">
            <figure><img src="./assets/images/flayer.png" alt="#" /></figure>
          </div>
        </div>

        <div class="col-md-5">
          <div class="about_img text_align_center">
            <figure><img src="./assets/images/Flyer-folder-folheto-categoria.png" alt="#" /></figure>
          </div>
        </div>

        <div class="col-md-7">
          <div class="titlepage text_align_left">
            <h2>Folder ou catálogos .</h2>

            <div class="">
              a partir de
              <br>
              <div>
                <h3 class="" style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left;">
                  10.500 kz*
                </h3>
              </div>
            </div>

            <p>
              Elaboração de Folder para o seu público. Um design profissional trará muito mais retorno na sua
              propaganda, indicando os melhores serviços ou produtos a serem divulgados de forma a ter contato com o
              consumidor
              <br>
              <br>
              Entrega em:
              <br>
              JPG,PNG PDF e EPS(Photoshop).
            </p>

            <div class="d-flex flex-row mb-3">
              <div class="">
                <a class="read_more"
                  href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                  Entrar em contacto whatsapp</a>
              </div>

            </div>

          </div>
        </div>


      </div>
    </div>
  </div>



  <!-- end about Coronavirus Cases -->






  <div class="copyright">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>


  <!-- end protect -->


  <!-- doctors -->


  <div class="doctors">
    <div class="container">

      <div class="row d_flex">

        <div class=" col-md-12">
          <div id="ho_efcet" class="reader">
            <div class=" text_align_center">

              <i><img src="./assets/images/doctor3.png" alt="#" /></i>

            </div>

            <div class="row ">

              <div class="  ">
                <div class="p-2">
                  <h3>Descrição</h3>
                </div>
                <div class="" data-wow-delay="0.1s">

                  <div class=""><i class="fa fa-check text-success me-3"></i>
                    O cliente deverá mencionar as cores que tem preferencia para que possa ser desenvolvida a arte e
                    quais as informações que farão parte do cartão de visita interativo.
                  </div>
                  <div class=""><i class="fa fa-check text-success me-3"></i>
                    Tenha todas as informações da sua empresa/atividade profissional a um clique, WhatsApp, Telefones,
                    Endereços com GPS, Emails, Redes Sociais, Vídeos e muito mais!
                  </div>
                  <div class=""><i class="fa fa-check text-success me-3"></i>
                    Divulgue o seu trabalho enviando o arquivo PDF com todos os seus dados. Não precisa de instalação.
                  </div>
                  <div class=""><i class="fa fa-check text-success me-3"></i>
                    Compatível com smartphones, facilitando o acesso rápido aos seus dados e com um design totalmente
                    customizado seguindo a identidade visual de sua empresa/atividade profissional.
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- O seu HTML vem aqui! -->

  <div class="doctors">
    <div class="cevery_white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage">
              <h2>Panfleto feitas por nós </h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="./assets/images/portifolio/panf004.jpg"></div>
        <div class="swiper-slide"><img src="./assets/images/portifolio/panf003.jpg"></div>
        <div class="swiper-slide"><img src="./assets/images/portifolio/panf002.1.jpg"></div>
        <div class="swiper-slide"><img src="./assets/images/portifolio/panf005.2.jpg"></div>
        <div class="swiper-slide"><img src="./assets/images/portifolio/panf006.jpg"></div>
        <div class="swiper-slide"><img src="./assets/images/portifolio/panf007.1.jpg"></div>
        <div class="swiper-slide"><img src="./assets/images/portifolio/panf007.10.jpg"></div>
        <div class="swiper-slide"><img src="./assets/images/portifolio/panf007.8.jpg"></div> 
      </div>
    </div>
 

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
       
        <div class="swiper-slide"><img src="./assets/images/portifolio/panf001.1.png"></div> 
        <div class="swiper-slide"><img src="./assets/images/portifolio/panf001.2.jpg"></div>
    
      </div>
     
    </div>
 
  </div>

</div>