<div>

  <div>

    <!-- end loader -->
    <!-- top -->

    <div class="full_bg_design">
      <!-- header inner -->
      <div class="section">
        <!-- carousel code -->
        <div id="banner1" class="carousel slide slider_main">

          <div class="carousel-inner">
            <!-- first slide -->
            <div class="carousel-item active">
              <div class="carousel-caption cuplle">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="photog">
                        <h1>Design Gráfico </h1>
                        <span class="">As primeiras aparições são cruciais: reduza sua taxa de rejeição e retenha mais
                          clientes
                          com gráficos criativos e atraentes que mostrem sua empresa de maneira atraente e
                          versátil.</span>


                        <div class="d-flex flex-row mb-3 mt-3">
                          <div class="">
                            <a class="read_more" href="javascript:void(0)"> <span class="p-2">Contacto What</span></a>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- controls -->

        </div>
      </div>
    </div>
    <!-- end banner -->
    <!-- about -->
    <div class="about">
      <div class="container_width">

        <nav class="menu-service">
          <ul>
            <li><a href="#/criacao-de-logotipo" class="active">Logotipo</a></li>
            <li><a href="#/criacao-de-cartoes">Cartões Visitas</a></li>
            <li><a href="#/criacao-flyer-folder">Flyer e folder</a></li>
            <li><a href="#/papelaria">Papelaria</a></li>
          </ul>
        </nav>


        <div class="row d_flex pt-5">
          <div class="col-md-7">
            <div class="titlepage text_align_left">
              <h2>Aumente a credibilidade da sua empresa! </h2>
              <p>
                Muitas marcas são reconhecidas pela cor ou por detalhes da sua Logo. É incrível como ela tem o poder de
                se fixar na mente dos consumidores.
                <br>
                Designs de logotipos profissionais feitos sob medida para a cultura da sua marca, valores fundamentais e
                distinção. Nós adotamos uma abordagem estratégica para criar identidades de marca exclusivas.
                <br>
                <br>
                Fale com nossa equipe, peça seu orçamento e seja mais um parceiro de alto nível da JLSySTEM.

              </p>

              <a class="read_more"
                href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                Entrar em contacto whatsapp</a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="about_img text_align_center">
              <figure><img src="./assets/images/design-logo.png" alt="#" /></figure>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- end about Coronavirus Cases -->






    <div class="copyright">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>


    <!-- end protect -->



    <!-- O seu HTML vem aqui! -->

    <div class="doctors">
      <div class="cevery_white">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage">
                <h2>Logo MARCAS feitas por nós </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="gallery">
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo0010.jpg">
            <figcaption>AGua Da Terra</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo004.jpg">
            <figcaption>Joferbino</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo001.jpg">
            <figcaption>Doar Digital</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/ark_tracos.jpg">
            <figcaption>Ark - Tracos</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo003.jpg">
            <figcaption>Nibk</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo002.jpg">
            <figcaption>JMDO Despachante Oficial</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo005.jpg">
            <figcaption>Sejs</figcaption>
          </figure>
          </a>
        </div>

        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo012.jpg">
            <figcaption>Basy Gomes</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo0013.jpg">
            <figcaption>Efrielm</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo015.jpg">
            <figcaption>LJ Tour</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo014.jpg">
            <figcaption>Night Vision</figcaption>
          </figure>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>