<div>

  <div class="full_bg_design">
    <!-- header inner -->
    <div class="section">
      <!-- carousel code -->
      <div id="banner1" class="carousel slide slider_main">

      
        <div class="carousel-inner">
          <!-- first slide -->
          <div class="carousel-item active">
            <div class="carousel-caption cuplle">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <div class="photog">
                      <h1>Design Gráfico </h1>
                      <span class="">As primeiras aparições são cruciais: reduza sua taxa de rejeição e retenha mais
                        clientes
                        com gráficos criativos e atraentes que mostrem sua empresa de maneira atraente e
                        versátil.</span>


                      <div class="d-flex flex-row mb-3 mt-3">
                        <div class="">
                          <a class="read_more" href="javascript:void(0)"> <span class="p-2">Contacto What</span></a>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- controls -->

      </div>
    </div>
  </div>
  <!-- end banner -->
  <!-- about -->
  <div class="about">
    <div class="container_width">
      <nav class="menu-service">
        <ul>
          <li><a href="#/criacao-de-logotipo">Logotipo</a></li>
          <li><a href="#/criacao-de-cartoes">Cartões Visitas</a></li>
          <li><a href="#/criacao-flyer-folder">Flyer e folder</a></li>
          <li><a href="#/papelaria" class="active">Papelaria</a></li>
        </ul>
      </nav>
      <div class="row d_flex pt-5">
        <div class="col-md-7">
          <div class="titlepage text_align_left">
            <h2>Papel Timbrado.</h2>
            <div class="">
              a partir de
              <br>
              <div>
                <h3 class="" style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left;">
                  4.000 kz*
                </h3>
              </div>
            </div>
            <p>
              Papel Timbrado, para Petições e/ou documentos personalizados da sua empresa. Entregamos em vários
              formatos.
              <br> <br>
              Entregamos nas extensões: JPG ou PNG PDF e .doc
            </p>

            <div class="d-flex flex-row mb-3">
              <div class="">
                <a class="read_more"
                  href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                  Entrar em contacto whatsapp</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="about_img text_align_center">
            <figure><img src="./assets/images/papel-timbrado.png" alt="#" /></figure>
          </div>
        </div>


        <div class="col-md-5">
          <div class="about_img text_align_center">
            <figure><img src="./assets/images/envelope_oficio.jpg" alt="#" /></figure>
          </div>
        </div>

        <div class="col-md-7">
          <div class="titlepage text_align_left">
            <h2>Envelope Ofício.</h2>

            <div class="">
              a partir de
              <br>
              <div>
                <h3 class="" style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left;">
                  5.500 kz*
                </h3>
              </div>
            </div>

            <p>
              Envelope Ofício – Criamos a arte personalizada do seu envelope, entregamos pronta para envio para gráfica.
              <br>
              Entrega em:
              <br>
              JPG ou PNG PDF e EPS(Photoshop).
            </p>

            <div class="d-flex flex-row mb-3">
              <div class="">
                <a class="read_more"
                  href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                  Entrar em contacto whatsapp</a>
              </div>

            </div>

          </div>
        </div>



      </div>
    </div>
  </div>


  <!-- end about Coronavirus Cases -->


  <div class="copyright">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>

  <!-- end protect -->


  <!-- doctors -->


  <div class="doctors">
    <div class="container">

      <div class="row d_flex">

        <div class=" col-md-12">
          <div id="ho_efcet" class="reader">
            <div class=" text_align_center">

              <i><img src="./assets/images/doctor3.png" alt="#" /></i>

            </div>

            <div class="row ">

              <div class="  ">
                <div class="p-2">
                  <h3>Descrição</h3>
                </div>
                <div class="" data-wow-delay="0.1s">

                  <div class=""><i class="fa fa-check text-success me-3"></i>
                    Papel Timbrado, para Petições e/ou documentos personalizados da sua empresa. Entregamos em vários
                    formatos.
                  </div>

                  <div class=""><i class="fa fa-check text-success me-3"></i>
                    Serviço <br>
                    Criação de Arte do Papel Timbrado e envelope, pronto para envio para gráfica
                  </div>
                  <div class=""><i class="fa fa-check text-success me-3"></i>
                    Prazo :
                    <br>
                    A entrega é feita em 1 dia(útil)
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- O seu HTML vem aqui! -->

  <div class="doctors">
    <div class="cevery_white">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage">
              <h2>Logo MARCAS feitas por nós </h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="gallery">
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo0010.jpg">
          <figcaption>AGua Da Terra</figcaption>
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo004.jpg">
          <figcaption>Joferbino</figcaption>
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo001.jpg">
          <figcaption>Doar Digital</figcaption>
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/ark_tracos.jpg">
          <figcaption>Ark - Tracos</figcaption>
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo003.jpg">
          <figcaption>Nibk</figcaption>
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo002.jpg">
          <figcaption>JMDO Despachante Oficial</figcaption>
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo005.jpg">
          <figcaption>Sejs</figcaption>
        </figure>
        </a>
      </div>

      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo012.jpg">
          <figcaption>Basy Gomes</figcaption>
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo0013.jpg">
          <figcaption>Efrielm</figcaption>
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo015.jpg">
          <figcaption>LJ Tour</figcaption>
        </figure>
        </a>
      </div>
      <div class="item">

        <figure>
          <img src="./assets/images/portifolio/logo014.jpg">
          <figcaption>Night Vision</figcaption>
        </figure>
        </a>
      </div>
    </div>
  </div>

</div>