<div>
  <div>
    <!-- end loader -->
    <!-- top -->
    <!-- header  -->

    <!-- end header -->
    <div class="full_bg_site">
      <!-- header inner -->
      <div class="section">
        <!-- carousel code -->
        <div id="banner1" class="pt-5">

          <div class="carousel-inner">
            <!-- first slide -->
            <div class="carousel-item active">
              <div class="carousel-caption cuplle">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="photog">
                        <h1>Aplicações &  <br> <span>Sistemas</span></h1>
                        <span class="sobtitulo">Soluções web sob medida & Desenvolvimento de Software para automatizar
                          processos, melhorar eficiência e impulsionar seu negócio.</span>
 
                        <div class="d-flex flex-row mb-3">
                          <div class="p-2">
                            <a class="read_more" href="javascript:void(0)"> <span class="p-2">Orçamento</span></a>
                          </div>


                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- controls -->

        </div>
      </div>
    </div>
    <!-- end banner -->
    <!-- about -->
    <div class="about">
      <div class="container_width">
        <nav class="menu-service">
          <ul>
            <li><a href="#/criacao-de-sites">WebSite</a></li>
            <li><a href="#/criacao-de-loja-virtual">Loja Online</a></li>
            <li><a href="#/app-web" class="active">App & Sistema Web </a></li>
            <li><a href="#/">Dominio</a></li>
            <li><a href="#/">Hospedagem</a></li>
          </ul>
        </nav>

        <div class="row d_flex pb-5 pt-5">
          <div class="col-md-7">
            <div class="titlepage text_align_left">
              <h2>Sistemas Web Sob Medida </h2>
              <p class="" >
                Desenvolvemos aplicações web robustas e sistemas personalizados que resolvem problemas específicos do
                seu negócio. Nossas soluções são:
              </p> 
              <ul class=" ">
                <li><i class="ion--checkmark"> </i> Totalmente adaptáveis às suas necessidades</li>
                <li><i class="ion--checkmark"> </i>Desenvolvidas com tecnologias modernas e seguras</li>
                <li><i class="ion--checkmark"> </i>Integração com Redes Sociais</li>
                <li><i class="ion--checkmark"> </i> Escaláveis para acompanhar seu crescimento</li>
                <li><i class="ion--checkmark"> </i>Com painéis de controle intuitivos</li>
              </ul> 
            </div>
          </div>
          <div class="col-md-5">
            <div class="about_img text_align_center">
              <figure><img src="./assets/" alt="#" /></figure>
            </div>
          </div>

             <div class="col-md-5">
            <div class="about_img text_align_center">
              <figure><img src="./assets/" alt="#" /></figure>
            </div>
          </div>

            <div class="col-md-7">
            <div class="titlepage text_align_left">
              <h2>Apps Desktop & mobile  </h2>
              <p class="" >
                Desenvolvemos aplicações web robustas e sistemas personalizados que resolvem problemas específicos do
                seu negócio. Nossas soluções são:
              </p> 
              <ul class=" ">
                <li><i class="ion--checkmark"> </i> Totalmente adaptáveis às suas necessidades</li>
                <li><i class="ion--checkmark"> </i>Desenvolvidas com tecnologias modernas e seguras</li>
                <li><i class="ion--checkmark"> </i>Integração com Redes Sociais</li>
                <li><i class="ion--checkmark"> </i> Escaláveis para acompanhar seu crescimento</li>
                <li><i class="ion--checkmark"> </i>Com painéis de controle intuitivos</li>
              </ul>
              <a class="read_more"
                href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                Entrar em contacto whatsapp</a>
            </div>
          </div>
       
        </div>
      </div>
    </div>
     
 

  </div>
</div>