<div>

    <!-- SUBTITLE -->
    <div class="hero_port">
        <p>Contacto</p>
        <h3 style=" color: #a52a2a;"> Tem alguma dúvida, sugestão ou <br> gostaria de solicitar um orçamento?</h3>
        <button class="btn btn-custom">PEDIR UM ORÇAMENTO</button>
    </div>
    <!-- Contact Section -->
    <section id="contact" class="contact section light-background">
        <!-- Section Title -->

        <!-- End Section Title -->

        <div class="container" data-aos-delay="100">
            <div class="row g-4 g-lg-5">
                <div class="col-lg-5">
                    <div class="info-box" data-aos-delay="200">
                        <p>
                            Estamos disponíveis para atendê-lo com profissionalismo e dedicação.
                        </p>

                        <div class="info-item" data-aos-delay="300">
                            <div class="icon-box">
                                <i class="bi bi-geo-alt"></i>
                            </div>
                            <div class="content">
                                <h4>Localizaçao</h4>
                                <p>Luanda - Angola</p>
                            </div>
                        </div>

                        <div class="info-item" data-aos-delay="400">
                            <div class="icon-box">
                                <i class="bi bi-telephone"></i>
                            </div>
                            <div class="content">
                                <h4>Contacto</h4>
                                <p>+244 952 472 527</p>
                                <p>+244 997 616 181</p>
                            </div>
                        </div>

                        <div class="info-item" data-aos-delay="500">
                            <div class="icon-box">
                                <i class="bi bi-envelope"></i>
                            </div>
                            <div class="content">
                                <h4>E-mail</h4>
                                <p>geral@h-jlsystem.com</p>
                                <p>contacto@h-jlsystem.com</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="contact-form" data-aos-delay="300">
                        <h3>Entre em contato conosco!</h3>
                        <p>
                            Entre em contato com a nossa equipa para esclarecer dúvidas, solicitar informações adicionais ou pedir um orçamento.
                        </p>

                        <form action="forms/contact.php" method="post" class="php-email-form" data-aos-delay="200">
                            <div class="row gy-4">
                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Nome" required="" />
                                </div>

                                <div class="col-md-6">
                                    <input type="email" class="form-control" name="email" placeholder="Email" required="" />
                                </div>

                                <div class="col-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Subjecto" required="" />
                                </div>

                                <div class="col-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Mensagem" required=""></textarea>
                                </div>

                                <div class="col-12 text-center">
                                    <div class="loading">carregando</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">
                                        sua mensagem foi enviado com sucesso. Obrigado!
                                    </div>

                                    <button type="submit" class="btn">Envia mensagem</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>