<div>
  
  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade"
      style="background-image: url(assets/img/about-page-title-bg.jpg);">
      <div class="container">
        <h1>Sobre</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Página Inicial</a></li>
            <li class="current">Sobre</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Sobre a FAMP</h3>
              <p>
                Somos uma empresa composta por técnicos qualificados e certificados, com atuação em diversas áreas
                técnicas e foco na excelência dos serviços. Buscamos compreender as necessidades dos nossos clientes,
                oferecendo soluções personalizadas com qualidade, segurança e eficiência.
                <br>
                Trabalhamos com contratos flexíveis e sustentáveis, permitindo que cada cliente escolha os serviços
                conforme suas necessidades, garantindo economia e resultados de alto nível.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <span>Serviços ajustados às necessidades específicas de cada
                    cliente.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Cada cliente é atendido com foco exclusivo nas suas
                    necessidades.</span></li>
                <li><i class="bi bi-check-circle-fill"></i> <span>Compromisso com altos padrões de execução e
                    satisfação.</span></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Why Us Section -->
    <section id="about" class="why-us section">

      <div class="container">

        <div class="row g-0">

          <div class="col-xl-5 img-bg" data-aos="fade-up" data-aos-delay="100">
            <img src="assets/img/why-us-bg.jpg" alt="">
          </div>

          <div class="col-xl-7 slides position-relative" data-aos="fade-up" data-aos-delay="200">

            <div class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "centeredSlides": true,
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "navigation": {
                    "nextEl": ".swiper-button-next",
                    "prevEl": ".swiper-button-prev"
                  }
                }
              </script>
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Profissionalismo e Qualificação</h3>
                    <h4 class="mb-3">Técnicos certificados a serviço da sua necessidade.</h4>
                    <p>A FAMP é composta por especialistas experientes, preparados para atuar em diversas áreas
                      técnicas, sempre com excelência, segurança e comprometimento.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Soluções Personalizadas</h3>
                    <h4 class="mb-3">Cada cliente é único, cada solução também.</h4>
                    <p>Desenvolvemos serviços sob medida, alinhados às suas reais necessidades, com foco na qualidade,
                      agilidade e plena satisfação.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Atendimento Ágil e Eficiente</h3>
                    <h4 class="mb-3">Porque o seu tempo vale muito.</h4>
                    <p>Resolvemos os seus desafios com rapidez e responsabilidade, mantendo um padrão de atendimento que
                      prioriza clareza, confiança e resultados.</p>
                  </div>
                </div><!-- End slide item -->

                <div class="swiper-slide">
                  <div class="item">
                    <h3 class="mb-3">Contratos Flexíveis e Econômicos</h3>
                    <h4 class="mb-3">Mais liberdade, menos custo</h4>
                    <p>Oferecemos pacotes de serviços ajustáveis à sua realidade, proporcionando economia significativa
                      em comparação ao mercado, sem abrir mão da qualidade.</p>
                  </div>
                </div><!-- End slide item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

        </div>

      </div>

    </section><!-- /Why Us Section -->


    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="assets/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center" style="padding: 6%;">
              <h2 class="p-4">Fale Conosco</h2>
              <p>Está pronto para transformar suas ideias em soluções reais? Entre em contacto com a FAMP e descubra
                como podemos ajudar sua empresa a crescer com qualidade, segurança e economia.</p>
              <a class="cta-btn" href="#">Fale Conosco</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->


  </main>
</div>