a {
    text-decoration: none;
}

.logo {
    font-weight: bold;
    color: black;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
}

.mega-menu {
    padding: 40px;
    border-radius: 12px;
    max-width: 1200px;
    margin: 40px auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.menu-title {
    font-size: 13px;
    font-weight: 600;
    color: #bcc2c7;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.menu-item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.menu-icon {
    width: 40px;
    height: 40px;
    background: #eef3ff;
    color: #f37032;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 18px;
}

.menu-text h6 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: #e7f1ff;
}

.menu-text p {
    margin: 3px 0 0;
    font-size: 13px;
    color: #6c757d;
}

.badge-custom {
    font-size: 10px;
    background: #e7f1ff;
    color: #0d6efd;
    margin-left: 8px;
}

.badge-orange {
    background: #ffe5d0;
    color: #ff6600;
    font-size: 10px;
    margin-left: 8px;
}

.highlight-box {
    background: #eef3ff;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
}

.highlight-box h5 {
    font-weight: bold;
}


/* --- ESTILOS DO OVERLAY --- */

.nav_jl {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    padding: 2em;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    z-index: 1000;
    overflow-y: auto;
}

.close-button {
    width: 25px;
    float: right;
    cursor: pointer;
}


/* --- CLASSES DE TRANSIÇÃO DO VUE 2 (Para animar o v-if) --- */

.fade-menu-enter-active,
.fade-menu-leave-active {
    transition: opacity 0.4s ease, transform 0.4s ease;
}


/* Estado inicial ao entrar e final ao sair */

.fade-menu-enter,
.fade-menu-leave-to {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
}