<div>
  
    <footer id="footer" class="footer">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename"
                ><img src="./assets/img/logo.png" alt=""
              /></span>
            </a>
            <div class="footer-contact pt-3">
              <p>Luanda - Angola</p>
              <p class="mt-3">
                <strong>Tell:</strong> <span>+244 952 472 527</span>
              </p>
              <p><strong>Email:</strong> <span>geral@h-jlsystem.com</span></p>
            </div>

            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Links</h4>
            <ul>
              <li><a href="#">JLSystem</a></li>
              <li><a href="#">Servicos</a></li>
              <li><a href="#">Cursos</a></li>
              <li><a href="#">Portfólio</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Nossos Servicos</h4>
            <ul>
              <li><a href="#">Dominio & Hospedagem</a></li>
              <li><a href="#">App Mobile & Desktop</a></li>
              <li><a href="#">WebSiste </a></li>
              <li><a href="#">Loja Virtual</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <ul>
              <li><a href="#">Logotipo</a></li>
              <li><a href="#">Cartões</a></li>
              <li><a href="#">Publicitário</a></li>
              <li><a href="#">Portifolio</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <ul>
              <li><a href="#">Gestão de Mídias Sociais</a></li>
              <li><a href="#">Email Marketing</a></li>
              <li><a href="#">Links Patrocinado</a></li>
              <li><a href="#">Video Marketing</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span>
          <strong class="px-1 sitename"><a>JLSystem</a></strong>
          <span>Todos os Direitos Reservados.</span>
        </p>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
</div>