<div>
     
  <header class="header-area">
    <div class="left">
       <a href="Javascript:void(0)"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
    <div class="right">
       <a href="Javascript:void(0)"><i class="fa fa-user" aria-hidden="true"></i></a>
    </div>
    <div class="container">
       <div class="row d_flex">
          <div class="col-sm-3 logo_sm">
             <div class="logo">
                <a href="index.html"></a>
             </div>
          </div>
          <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
             <div class="navbar-area">
                <nav class="site-navbar">
                     
                  <nav class="menu2">
                    <a href="tel:+244952472527">
                      <i class="fas fa-phone"></i>
                      <span>+244 952 472 527</span>
                  </a>
                  <span class="separator">|</span>
                  <a href="mailto:email@example.com">
                      <i class="fas fa-envelope"></i>
                      <span>email@example.com</span>
                  </a>
                  <span class="separator">|</span>
                  <a href="https://wa.me/244952472527" target="_blank">
                      <i class="fab fa-whatsapp"></i>
                      <span>WhatsApp</span>
                  </a>
                </nav>
   
                </nav>
             </div>
          </div>
       </div>
    </div>
 </header>

 
  <!-- header start  -->
  <header class="header">
    <div class="container ">
      <div class="row v-center">
        <div class="header-item item-left">
          <div class="logo">
            <a href="#"><img style="width: 100px;" src="./assets/images/logo.png" alt=""></a>
          </div>
        </div>
        <!-- menu start here -->
        <div class="header-item item-center">
          <div class="menu-overlay">
          </div>
          <nav class="menu">
            <div class="mobile-menu-head">
              <div class="go-back"><i class="fa fa-angle-left"></i></div>
              <div class="current-menu-title"></div>
              <div class="mobile-menu-close">&times;</div>
            </div>
            <ul class="menu-main">
              <li>
                <a href="#/">Home</a>
              </li>

              <li class="menu-item-has-children">
                <a href="#">Apps / Sites <i class="fas fa-angle-down"></i></a>
                <div class="sub-menu single-column-menu">
                  <ul>
                    <li><a href="#/criacao-de-sites">
                        <div class="fluent--globe-desktop-filled"></div>Criação de WebSite
                      </a></li>
                    <li><a href="#/criacao-de-loja-virtual">
                        <div class="solar--shop-minimalistic-bold-duotone"></div>Loja Virtual
                      </a></li>
                    <li><a href="#/papelaria">
                        <div class="fluent--phone-desktop-filled"></div>App Mobile & Desktop
                      </a></li>
                    <li><a href="#/criacao-flyer-folder">
                        <div class="tabler--world-www"></div>Dominio & Hospedagem
                      </a></li>

                  </ul>
                </div>
              </li>

              <li>
                <a href="#/criacao-de-logotipo">Design Gráfico</a>
              </li>

            
              <li class="menu-item-has-children">
                <a href="#">Marketing Digital <i class="fas fa-angle-down"></i></a>
                <div class="sub-menu single-column-menu">
                  <ul>
                    <li><a href="#/gestao-de-redes-sociais">Gestão de Mídias Sociais</a></li>
                    <li><a href="#/email-marketing">Email Marketing</a></li>
                    <li><a href="#">Links Patrocinado</a></li>
                    <li><a href="#">Video Marketing</a></li>
                  </ul>
                </div>
              </li>

              <li class="menu-item-has-children">
                <a href="#">Cursos <i class="fa fa-angle-down"></i></a>
                <div class="sub-menu mega-menu mega-menu-column-4">
                  <div class="list-item">
                    <h4 class="title">Programação</h4>
                    <ul>
                      <li><a href="#">Programação Básica (Iniciantes)</a></li>
                      <li><a href="#">Lógica de Programação</a></li>
                      <li><a href="#">Scratch (para crianças e iniciantes)</a></li>
                      <li><a href="#">Desenvolvimento Web</a></li>
                      <li><a href="#">Desenvolvimento de Aplicativos</a></li>

                      <li><a href="#">Ciência de Dados e Inteligência Artificial</a></li>
                      <li><a href="#">SQL para Bancos de Dados</a></li>

                    </ul>
                  </div>
                  <div class="list-item">
                    <h4 class="title">Design Gráfico</h4>
                    <ul>
                      <li><a href="#">Design Gráfico Básico</a></li>
                      <li><a href="#">Adobe Photoshop</a></li>
                      <li><a href="#">Adobe Illustrator</a></li>
                      <li><a href="#">Canva para Design Simples e Rápido</a></li>
                    </ul>

                  </div>
                  <div class="list-item">
                    <h4 class="title">Marketing</h4>
                    <ul>
                      <li><a href="#">Marketing de Mídias Sociais</a></li>
                      <li><a href="#">Google Ads e Facebook Ads</a></li>
                      <li><a href="#">E-mail Marketing</a></li>
                      <li><a href="#">Gestão de Relacionamento com o Cliente (CRM)</a></li>
                      <li><a href="#">Estratégias de Vendas Online</a></li>
                      <li><a href="#">Marketing de Influência</a></li>
                      <li><a href="#">Marketing de Afiliados</a></li>
                      <li><a href="#">Marketing Tradicional</a></li>
                      <li><a href="#">Marketing de Produto</a></li>
                    </ul>
                  </div>
                  <div class="list-item">
                    <img src="img/shop1.jpg" alt="shop">
                  </div>
                </div>
              </li>

              <li>
                <a href="#">Contacto</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- menu end here -->
        <div class="header-item item-right">
          <a href="#"><i class="fas fa-search"></i></a>
          <a href="#"><i class="far fa-heart"></i></a>
          <a href="#"><i class="fas fa-shopping-cart"></i></a>
          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- header end -->

</div>
<!-- Navbar End -->