<div>
  <div class="full_bg_portfolio">
    <!-- header inner -->
    <div class="section">
      <!-- carousel code -->
      <div id="banner1" class="p-5">
        <div class="carousel-inner">
          <!-- first slide -->
          <div class="carousel-item active">
            <div class="carousel-caption cuplle">
              <div class="container">
                <div class="row">
                  <div class="col-md-8">
                    <div class="photog"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- controls -->
      </div>
    </div>
  </div>
  <!-- end banner -->
  <!-- about -->
  <div class="about">
    <div class="container_width">
      <nav class="menu-service">
        <ul>
          <li><a href="#/criacao-de-logotipo">Logotipo</a></li>
          <li><a href="#/criacao-de-cartoes">Cartões</a></li>
          <li><a href="#/criacao-flyer-folder">Publicitário</a></li>
          <li><a class="active">Portfolio</a></li>
          <li><a href="#/papelaria">Papelaria</a></li>
        </ul>
      </nav>
      <div class="row d_flex pt-5">
        <div class="col-md-7">
          <div class="titlepage text_align_left">
            <h2>Portfolio Digital</h2>
            <div class="">
              a partir de
              <br />
              <div>
                <h3
                  class=""
                  style="
                    color: #b90000;
                    padding: 0;
                    font-size: 26px;
                    font-weight: bold;
                    text-align: left;
                  "
                >
                  20.000 kz*
                </h3>
              </div>
            </div>
            <p>
              Oferecemos criação de portfólios profissionais e personalizados,
              pensados para valorizar a sua imagem, destacar seus serviços e
              conquistar mais clientes.
              <br />
              Revisão em: JPG ou PNG
              <br />
              Entregamos nas extensões: .PDF 
            </p>

            <div class="d-flex flex-row mb-3">
              <div class="">
                <a
                  class="read_more"
                  href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0"
                >
                  Entrar em contacto whatsapp</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="about_img text_align_center">
            <figure><img src="./assets/images/port.png" alt="#" /></figure>
          </div>
        </div>

        <div class="col-md-5">
          <div class="about_img text_align_center">
            <figure><img src="./assets/images/port-3.jpg" alt="#" /></figure>
          </div>
        </div>

        <div class="col-md-7">
          <div class="titlepage text_align_left">
            <h2>Portfólio Web</h2>

            <div class="">
              a partir de
              <br />
              <div>
                <h3
                  class=""
                  style="
                    color: #b90000;
                    padding: 0;
                    font-size: 26px;
                    font-weight: bold;
                    text-align: left;
                  "
                >
                  55.500 kz*
                </h3>
              </div>
            </div>

            <p>
              Criação de portfólio online, moderno, responsivo e acessível em
              qualquer dispositivo.
  
            </p>
     
    <ul class="lista-limpa">
       
              <li>
                Desenvolvimento de portfólio online moderno e responsivo, que se
                adapta a celulares, tablets e computadores.
              </li>
              <li>
                Navegação intuitiva, permitindo que clientes encontrem
                facilmente informações sobre seus serviços ou produtos.
              </li>
              <li>
                Inclusão de galerias de fotos, vídeos, depoimentos e formulários
                de contato.
              </li>
              <li>
                Design personalizado, alinhado à identidade visual da sua marca.
              </li>
              <li>
                Material interativo e acessível, ideal para fortalecer a
                presença digital e alcançar mais clientes.
              </li>
            </ul>

            <div class="d-flex flex-row mb-3">
              <div class="">
                <a
                  class="read_more"
                  href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0"
                >
                  Entrar em contacto whatsapp</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end about Coronavirus Cases -->

  <div class="copyright">
    <div class="container">
      <div class="row"></div>
    </div>
  </div>

  <!-- end protect -->

  <!-- doctors -->

  <section class="como-funciona">
    <h1 class="">Como Funciona</h1>

    <div class="passos pt-5">
      <div class="passo">
        <div class="numero">1</div>
        <h3>Coleta de Informações</h3>
        <p>
          Entendemos o objetivo do seu cartão ou passe (identificação, acesso,
          apresentação profissional, etc.). Nessa fase, recolhemos dados como:
          <br />• Nome da empresa <br />• Dados pessoais/profissionais (nome,
          cargo, contato) <br />• Logotipo e preferências visuais (cores,
          estilo, etc.)
        </p>
      </div>
      <div class="passo">
        <div class="numero">2</div>
        <h3>Criação da Arte</h3>
        <p>
          Desenvolvemos um design moderno e profissional, com atenção à
          legibilidade e à identidade visual da sua marca. Trabalhamos o layout,
          disposição das informações e elementos gráficos.
        </p>
      </div>
      <div class="passo">
        <div class="numero">3</div>
        <h3>Aprovação e Entrega</h3>
        <p>
          Você recebe uma prévia para revisar. Após a sua aprovação, entregamos
          os arquivos prontos para impressão ou uso digital (em formatos como
          PDF, PNG ou JPG).
        </p>
      </div>
    </div>
  </section>
</div>
