<div>
    <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade"
      style="background-image: url(assets/img/services-page-title-bg.jpg);">
      <div class="container">
        <h1>Serviços</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Página Inicial</a></li>
            <li class="current">Serviços</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->



    <!-- Service Cards Section -->
    <section id="service-cards" class="service-cards section " style="padding: 10% 10% 0% 10% ;">

      <div class="container section-title" data-aos="fade-up">
        <h2>O que Fazemos</h2>
        <p>Oferecemos soluções técnicas personalizadas, com foco em qualidade, agilidade e economia.
          <br> Atendemos diversas áreas através de profissionais certificados, garantindo eficiência, segurança e
          resultados <br> alinhados às necessidades de cada cliente.
        </p>
      </div>

      <div class="container-fluid">

        <div class="row gy-4">

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg"><img src="assets/img/cards-1.jpg" alt=""></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title"> Informação e Comunicação</h4>
                    <p>Oferecemos soluções completas na área de Tecnologias de Informação e Comunicação (TIC), que
                      incluem instalação, manutenção e suporte de redes, sistemas e equipamentos. Atuamos na
                      modernização dos processos de comunicação interna e externa, garantindo conectividade segura,
                      eficiente e adaptada às necessidades de cada cliente.</p>
                    <p> Trabalhamos com infraestrutura tecnológica, automação, segurança da informação e suporte
                      técnico, contribuindo para o bom funcionamento das operações e a transformação digital das
                      organizações.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Construção Civil e Saneamento</h4>
                    <p>Executamos obras e projetos de construção civil com qualidade, segurança e respeito às normas
                      técnicas. Atuamos em construções, reformas, ampliações e manutenção de edifícios residenciais,
                      comerciais e institucionais.</p>
                    <p>
                      Na área de saneamento, desenvolvemos soluções para abastecimento de água, drenagem, esgoto e
                      gestão de resíduos, contribuindo para a melhoria da infraestrutura urbana e das condições de saúde
                      pública. Garantimos serviços eficientes, duráveis e adaptados às necessidades de cada cliente ou
                      comunidade.
                    </p>

                  </div>
                </div>
                <div class="col-xl-5">
                  <div class="card-bg"><img src="assets/img/services-2.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg"><img src="assets/img/services-3.jpg" alt=""></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Formatação de TFC</h4>
                    <p>Prestamos serviços especializados na formatação de Trabalhos de Fim de Curso (TFC) conforme as
                      normas exigidas pelas instituições de ensino (ABNT, APA, ou normas específicas locais). Atuamos na
                      organização do conteúdo, padronização de margens, fontes, espaçamento, numeração, sumário
                      automático, referências bibliográficas, citações e outros elementos obrigatórios.</p>
                    <p>
                      Garantimos um trabalho bem estruturado, com apresentação clara e profissional, facilitando a
                      aprovação acadêmica e valorizando o esforço do estudante.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Certificado Digital</h4>
                    <p>Oferecemos serviços de emissão e renovação de Certificado Digital, uma identidade eletrônica que
                      garante segurança, autenticidade e validade jurídica em transações e assinaturas digitais.</p>

                    <p>
                      Atendemos pessoas físicas e jurídicas, possibilitando a assinatura de documentos, acesso a
                      sistemas governamentais, envio de declarações fiscais, autenticação em plataformas e muito mais,
                      de forma prática e segura.
                    </p>
                    <br>
                    <p>Trabalhamos com certificados do tipo A1 e A3, conforme a necessidade do cliente, com suporte
                      completo durante todo o processo.</p>


                  </div>
                </div>
                <div class="col-xl-5">
                  <div class="card-bg"><img src="assets/img/services-4.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg"><img src="assets/img/services-5.jpg" alt=""></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Comércio</h4>
                    <p>Atuamos na comercialização de produtos e equipamentos voltados às necessidades técnicas e
                      operacionais dos nossos clientes. Disponibilizamos materiais de qualidade, selecionados de forma
                      criteriosa para garantir desempenho, durabilidade e custo-benefício.</p>
                    <br>
                    <p>
                      Nosso portfólio inclui desde equipamentos tecnológicos e ferramentas especializadas até materiais
                      de construção, segurança e comunicação. Aliamos bom atendimento, preços competitivos e logística
                      eficiente para oferecer soluções práticas e confiáveis ao mercado.
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->


          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Assessoria</h4>
                    <p>Prestamos serviços de assessoria técnica, administrativa e operacional, apoiando empresas,
                      instituições e particulares na tomada de decisões, planejamento, organização e execução de tarefas
                      específicas.</p>

                    <br>
                    <p>A nossa atuação inclui análise de processos, elaboração de relatórios, orientação estratégica e
                      suporte na regularização de documentos e procedimentos legais. Trabalhamos com foco em eficiência,
                      conformidade e resultados, contribuindo para o crescimento sustentável dos nossos clientes.</p>


                  </div>
                </div>
                <div class="col-xl-5">
                  <div class="card-bg"><img src="assets/img/services-6.jpg" alt=""></div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg"><img src="assets/img/services-7.jpg" alt=""></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">Auditoria</h4>
                    <p>Oferecemos serviços de auditoria técnica, operacional e administrativa com o objetivo de avaliar,
                      validar e melhorar os processos internos das organizações. Atuamos com imparcialidade e rigor
                      técnico, identificando riscos, inconsistências e oportunidades de melhoria.</p>
                    <br>
                    <p>
                      A nossa auditoria abrange desde a verificação da conformidade com normas e regulamentos até a
                      análise da eficiência na utilização de recursos, contribuindo para a transparência, a tomada de
                      decisões estratégicas e o fortalecimento da gestão organizacional.
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->
        </div>

      </div>

    </section><!-- /Service Cards Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testemunhos</h2>
        <p>Depoimentos reais que refletem a confiança, a qualidade e a satisfação dos clientes com os serviços prestados
          pela FAMP.</p>
      </div><!-- Título da seção final -->
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 1
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  A FAMP superou todas as nossas expectativas. Atendimento rápido, técnicos competentes e um serviço de
                  altíssimo nível. Hoje é nossa parceira de confiança.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Carlos André, </h3>
                  <h4>Diretor &amp; Operacional</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  A flexibilidade contratual da FAMP foi essencial para reduzirmos custos e aumentarmos a eficiência.
                  Recomendo totalmente!"
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Paula </h3>
                  <h4>Gestora Administrativa</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Sempre que precisamos, a FAMP está pronta para resolver com agilidade e profissionalismo. É muito mais
                  do que uma prestadora, é parte da nossa equipa.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Luís Fernando, </h3>
                  <h4>Coordenador de Projetos</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  Trabalhar com a FAMP foi uma das melhores decisões que tomamos. A qualidade técnica e o suporte
                  constante fazem toda a diferença
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3> Joana Silva</h3>
                  <h4>Gerente de Operações</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  A equipa da FAMP entende realmente o que o cliente precisa. Recebemos soluções eficazes e dentro do
                  prazo.
                </p>
                <div class="profile mt-auto">
                  <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Miguel Correia</h3>
                  <h4>Empresário</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Testimonials Section -->

  </main>

</div>