<div>



    <!-- update -->
    <div class="update">
      <div class="cevery_white">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage">
                <h2>Receba todas as atualizações... </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cevery_bg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <form id="colof" class="form_subscri">
                <input class="newsl" placeholder="Seu e-mail" type="text" name="Email">
                <button class="subsci_btn">Assine agora</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- update -->
    <!--  footer -->
    <footer>
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6">
              <div class="hedingh3 text_align_left">
                <h3>Resources</h3>
                <ul class="menu_footer">
                  <li><a href="index.html">Home</a>
                  </li>
                  <li><a href="javascript:void(0)">WebSites</a>
                  </li>
                  <li> <a href="javascript:void(0)">Logotipos</a>
                  </li>
                  <li> <a href="javascript:void(0)">Seguraças</a>
                  </li>
                  <li><a href="javascript:void(0)">Aulas/curso</a>
                  </li>
                  <li><a href="javascript:void(0)">Sobre nos</a>
                  </li>
                </ul>
                <div class="d-flex pt-2">
                  <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                  <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
               </div>

              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="hedingh3 text_align_left">
                <h3>Horário de funcionamento</h3>
                  
                  <h6 class="text-light">Segunda a Sexta:</h6>
                  <p class="mb-4">09h00 - 21h00</p>
                  <h6 class="text-light">Sábado - Domingo:</h6>
                  <p class="mb-0">09h00 - 12h00</p>
                
              </div>
            </div>
 

            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="hedingh3  text_align_left">
                <h3>Contacta-nos</h3>
                <ul class="top_infomation">
                  <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                     Luanda gameck, entrada da igreja catolica
                  </li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>
                    Call : +244 942 459 967
                  </li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i>
                    <a href="Javascript:void(0)">Email : geral@jlsystem.ao</a>
                  </li>
                </ul>


              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="hedingh3 text_align_left">
                <h3>countrys</h3>
                <div class="map">
                  <img src="./assets/images/map.png" alt="#" />
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <p>© Copyright © 2023 Todos os Direitos Reservados. JLSystem </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->

 

</div>