<div>
  
  <!-- headerjl start  -->
  <header class="headerjl">
    <div class="container ">
      <div class="row v-center " style="padding: 5px 20px;">
        <div class="headerjl-item item-left">
          <div class="logo">
            <a href="https://h-jlsystem.com/#"><img style="width: 100px;" src="./assets/images/logo.png" alt=""></a>
          </div>
        </div>
        <!-- menu start here -->
        <div class="headerjl-item item-center">
          <div class="menu-overlay">
          </div>
          <nav class="menu">
            <div class="mobile-menu-head">
              <div class="go-back"><i class="fa fa-angle-left"></i></div>
              <div class="current-menu-title"></div>
              <div class="mobile-menu-close">&times;</div>
            </div>
            <ul class="menu-main">
              <li>
                <a href="https://h-jlsystem.com/#">Home</a>
              </li>

              <li class="menu-item-has-children">
                <a href="#/criacao-de-sites">Apps / Sites <i class="fas fa-angle-down"></i></a>
                <div class="sub-menu single-column-menu">
                  <ul>
                    <li><a href="#/criacao-de-sites">
                        <div class="fluent--globe-desktop-filled"></div>Criação de WebSite
                      </a></li>
                    <li><a href="#/criacao-de-loja-virtual">
                        <div class="solar--shop-minimalistic-bold-duotone"></div>Loja Virtual
                      </a></li>
                    <li><a href="#/app-web">
                        <div class="fluent--phone-desktop-filled"></div>Apps & Sistema Web
                      </a></li>
                    <li><a href="#/criacao-flyer-folder">
                        <div class="tabler--world-www"></div>Dominio & Hospedagem
                      </a></li>

                  </ul>
                </div>
              </li>

              <li>
                <a href="#/criacao-de-logotipo">Design Gráfico</a>
              </li>

            
              <li class="menu-item-has-children">
                <a href="#/gestao-de-redes-sociais">Marketing Digital <i class="fas fa-angle-down"></i></a>
                <div class="sub-menu single-column-menu">
                  <ul>
                    <li><a href="#/gestao-de-redes-sociais">Gestão de Mídias Sociais</a></li>
                    <li><a href="#/email-marketing">Email Marketing</a></li>
                    <li><a href="#">Links Patrocinado</a></li>
                    <li><a href="#">Video Marketing</a></li>
                  </ul>
                </div>
              </li>

              <li class="menu-item-has-children">
                <a href="https://h-jlsystem.com/#">Cursos <i class="fa fa-angle-down"></i></a>
                <div class="sub-menu mega-menu mega-menu-column-4">
                  <div class="list-item">
                    <h4 class="title">Programação</h4>
                    <ul>
                      <li><a href="https://h-jlsystem.com/#">Programação Básica (Iniciantes)</a></li>
                      <li><a href="https://h-jlsystem.com/#">Lógica de Programação</a></li>
                      <li><a href="https://h-jlsystem.com/#">Scratch (para crianças e iniciantes)</a></li>
                      <li><a href="https://h-jlsystem.com/#">Desenvolvimento Web</a></li>
                      <li><a href="https://h-jlsystem.com/#">Desenvolvimento de Aplicativos</a></li>

                      <li><a href="https://h-jlsystem.com/#">Ciência de Dados e Inteligência Artificial</a></li>
                      <li><a href="https://h-jlsystem.com/#">SQL para Bancos de Dados</a></li>

                    </ul>
                  </div>
                  <div class="list-item">
                    <h4 class="title">Design Gráfico</h4>
                    <ul>
                      <li><a href="https://h-jlsystem.com/#">Design Gráfico Básico</a></li>
                      <li><a href="https://h-jlsystem.com/#">Adobe Photoshop</a></li>
                      <li><a href="https://h-jlsystem.com/#">Adobe Illustrator</a></li>
                      <li><a href="https://h-jlsystem.com/#">Canva para Design Simples e Rápido</a></li>
                    </ul>

                  </div>
                  <div class="list-item">
                    <h4 class="title">Marketing</h4>
                    <ul>
                      <li><a href="https://h-jlsystem.com/#">Marketing de Mídias Sociais</a></li>
                      <li><a href="https://h-jlsystem.com/#">Google Ads e Facebook Ads</a></li>
                      <li><a href="https://h-jlsystem.com/#">E-mail Marketing</a></li>
                      <li><a href="https://h-jlsystem.com/#">Gestão de Relacionamento com o Cliente (CRM)</a></li>
                      <li><a href="https://h-jlsystem.com/#">Estratégias de Vendas Online</a></li>
                      <li><a href="https://h-jlsystem.com/#">Marketing de Influência</a></li>
                      <li><a href="https://h-jlsystem.com/#">Marketing de Afiliados</a></li>
                      <li><a href="https://h-jlsystem.com/#">Marketing Tradicional</a></li>
                      <li><a href="https://h-jlsystem.com/#">Marketing de Produto</a></li>
                    </ul>
                  </div>
                  <div class="list-item">
                    <img src="img/shop1.jpg" alt="shop">
                  </div>
                </div>
              </li>
 
            </ul>
          </nav>
        </div>
        <!-- menu end here -->
        <div class="headerjl-item item-right">
          <a href="#"><i class="fas fa-search"></i></a>
          <a href="#"><i class="far fa-heart"></i></a>
          <a href="#"><i class="fas fa-shopping-cart"></i></a>
          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- headerjl end -->

</div>
<!-- Navbar End -->