<div>


 <footer class="footer2">
    <div class="footer-container">
      <div class="footer-col">
        <div class="logo">
            <a href="#"><img style="width: 150px;" src="./assets/images/logo.png" alt=""></a>
          </div>
        <p>Somos especialistas em soluções digitais, criando sites, design gráfico e muito mais.</p>
      <div class="social-links"> 
                <a class=" btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                <a class=" btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                <a class=" btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                <a class=" btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
           
        </div>
      </div>
      <div class="footer-col">
        <h4>Links Úteis</h4>
        <ul> 
          <li><a href="#">JLSystem</a></li>
          <li><a href="#">Servicos</a></li>
          <li><a href="#">Cursos</a></li>
          <li><a href="#">Portfólio</a></li> 
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Nossos Servicos</h4>
        <ul>
          <li><a href="#">Dominio & Hospedagem</a></li>
          <li><a href="#">App Mobile & Desktop</a></li>
          <li><a href="#">WebSiste</a></li> 
           <li><a href="#">Loja Virtual</a></li>
        </ul>
      </div>
       
      <div class="footer-col">
          <ul>
          <li><a href="#">Logotipo</a></li>
          <li><a href="#">Cartões</a></li>
          <li><a href="#">Publicitário</a></li> 
           <li><a href="#">Portifolio</a></li>
        </ul> 
      </div> 

      <div class="footer-col">
          <ul>
          <li><a href="#">Gestão de Mídias Sociais</a></li>
          <li><a href="#">Email Marketing</a></li>
          <li><a href="#">Links Patrocinado</a></li> 
           <li><a href="#">Video Marketing</a></li>
        </ul> 
      </div>


    </div>
    <div class="footer-bottom">
      © Copyright © 2025 Todos os Direitos Reservados. JLSystem
    </div>
  </footer>
 
 

</div>