<div>

  <div>
  
    <!-- end loader -->
    <!-- top -->
    <!-- header  -->
    <header class="header-area">

      <div class="container">
        <div class="row d_flex">
          <div class="col-sm-3 logo_sm">
            <div class="logo">
              <a href="index.html"></a>
            </div>
          </div>
          <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
            <div class="navbar-area">
              <nav class="site-navbar" style="justify-content: center; justify-items: center;">
                <ul> 
                  <li><a href="#/gestao-de-redes-sociais">Gestão de mídia social</a></li>
                  <li><a class="active" href="#/email-marketing">E-mail marketing</a></li>
                  <li><a href="#/criacao-de-cartoes">Cartões de Visitas</a></li>
                  <li><a href="#/papelaria">Papelaria</a></li> 

                </ul>
              
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->
    <div class="full_bg">
      <!-- header inner -->
      <div class="section">
        <!-- carousel code -->
        <div id="banner1" class="carousel slide slider_main">

          <div class="carousel-inner">
            <!-- first slide -->
            <div class="carousel-item active">
              <div class="carousel-caption cuplle">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="photog">
                         <h1>E-mail marketing </h1>
                        <span>Campanhas de Email Marketing e Envios em Massa!</span>
 
                        <div class="d-flex flex-row mb-3">
                          <div class="p-2">
                            <a class="read_more" href="javascript:void(0)"> <span class="p-2">Contacto What</span></a>
                          </div>
                          <div class="p-2">
                            a partir de
                            <br>
                            <div>
                              <h3 class=""
                                style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left; padding-bottom: 30px;">
                                ....
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- controls -->

        </div>
      </div>
    </div>
    <!-- end banner -->
    <!-- about -->
    <div class="about">
      <div class="container_width">
        <div class="row d_flex">
          <div class="col-md-7">
            <div class="titlepage text_align_left">
              <h2> e-mail marketing ou publicidade por correio eletrónico </h2>
              <p>
                é a utilização do e-mail como ferramenta de marketing direto, respeitando normas e procedimentos pré-definidos, analisando o retorno gerado através de relatórios e análises gráficas gerando campanhas cada vez mais otimizadas
                <br>
                Aumente as suas chances de veder mais a rede social atravez de E-mail marketing .
                
              </p>

              <a class="read_more"
                href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                Entrar em contacto whatsapp</a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="about_img text_align_center">
              <figure><img src="./assets/images/design-logo.png" alt="#" /></figure>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- end about Coronavirus Cases -->






    <div class="copyright">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>


    <!-- end protect -->


    <!-- doctors -->
    <div class="doctors">
      <div class="container">

        <div class="row d_flex">

          <div class=" col-md-12">
            <div id="ho_efcet" class="reader">
              <div class=" text_align_center">

                <i><img src="./assets/images/doctor3.png" alt="#" /></i>
                <h3>Por que criar a Logo para a sua empresa?...</h3>
              </div>
              <div> O reconhecimento da sua empresa começa pela Logo. Esteja na mente dos consumidores sempre que eles
                pensarem no seu segmento e aumente suas vendas.
              </div>
              <br>
              <div class="row ">

                <div class=" col-md-6">

                  <div class="" data-wow-delay="0.1s">

                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Se posicione no mercado
                    </div>
                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Tenha uma identidade visual e seja lembrado
                    </div>
                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Mais credibilidade e fortalecimento da marca
                    </div>
                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Pode ser um grande diferencial em relação aos seus concorrentes
                    </div>
                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Atraia o público certo com mais facilidade
                    </div>
                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Aumente a credibilidade da sua empresa no mercado
                    </div>


                  </div>

                </div>

                <div class=" col-md-6">

                  <div class="" data-wow-delay="0.1s">

                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Aproxime-se de seu consumidor
                    </div>
                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Estimule a repetição de compra

                    </div>
                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Aumente a lealdade
                    </div>
                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Funcionamento 24 horas por dia
                    </div>
                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Alcance maior de consumidores

                    </div>
                    <div class=""><i class="fa fa-check text-success me-3"></i>
                      Se diferencia dos concorrentes
                    </div>


                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
    <!-- end cases -->



    <!-- O seu HTML vem aqui! -->

    <div class="doctors">
      <div class="cevery_white">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage">
                <h2>Logo MARCAS feitas por nós </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="gallery">
        <div class="item">
        
            <figure>
              <img src="./assets/images/portifolio/logo0010.jpg">
              <figcaption>AGua Da Terra</figcaption>
            </figure>
          </a>
        </div>
        <div class="item">
        
            <figure>
              <img src="./assets/images/portifolio/logo004.jpg">
              <figcaption>Joferbino</figcaption>
            </figure>
          </a>
        </div>
        <div class="item">
        
            <figure>
              <img src="./assets/images/portifolio/logo001.jpg">
              <figcaption>Doar Digital</figcaption>
            </figure>
          </a>
        </div>
        <div class="item">
        
            <figure>
              <img src="./assets/images/portifolio/ark_tracos.jpg">
              <figcaption>Ark - Tracos</figcaption>
            </figure>
          </a>
        </div>
        <div class="item">
        
            <figure>
              <img src="./assets/images/portifolio/logo003.jpg">
              <figcaption>Nibk</figcaption>
            </figure>
          </a>
        </div>
        <div class="item">
        
            <figure>
              <img src="./assets/images/portifolio/logo002.jpg">
              <figcaption>JMDO Despachante Oficial</figcaption>
            </figure>
          </a>
        </div>
        <div class="item">
        
            <figure>
              <img src="./assets/images/portifolio/logo005.jpg">
              <figcaption>Sejs</figcaption>
            </figure>
          </a>
        </div>

        <div class="item">
        
            <figure>
              <img src="./assets/images/portifolio/logo012.jpg">
              <figcaption>Basy Gomes</figcaption>
            </figure>
          </a>
        </div>
        <div class="item">
        
            <figure>
              <img src="./assets/images/portifolio/logo0013.jpg">
              <figcaption>Efrielm</figcaption>
            </figure>
          </a>
        </div>
        <div class="item">
        
            <figure>
              <img src="./assets/images/portifolio/logo015.jpg">
              <figcaption>LJ Tour</figcaption>
            </figure>
          </a>
        </div>
        <div class="item">
          
            <figure>
              <img src="./assets/images/portifolio/logo014.jpg">
              <figcaption>Night Vision</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
 
  </div>
</div>