<div>

  <div>

    <!-- end loader -->
    <!-- top -->
    <!-- header  -->
    <header class="header-area">

      <div class="container">
        <div class="row d_flex">
          <div class="col-sm-3 logo_sm">
            <div class="logo">
              <a href="index.html"></a>
            </div>
          </div>
          <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
            <div class="navbar-area">
              <nav class="site-navbar" style="justify-content: center; justify-items: center;">
                <ul>
                  <li><a class="active" href="#/gestao-de-redes-sociais">Gestão de mídia social</a></li>
                  <li><a href="#/email-marketing">E-mail marketing</a></li>
                  <li><a href="#/papelaria">Papelaria</a></li>
                  <li><a href="#/criacao-flyer-folder">Flyer e folder</a></li>

                </ul>

              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->
    <div class="full_bg">
      <!-- header inner -->
      <div class="section">
        <!-- carousel code -->
        <div id="banner1" class="carousel slide slider_main">

          <div class="carousel-inner">
            <!-- first slide -->
            <div class="carousel-item active">
              <div class="carousel-caption cuplle">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="photog">
                        <h1>Gestão de mídia social</h1>
                        <span>CONQUISTE MAIS CLIENTES ATRAVÉS DAS REDES SOCIAIS!</span>

                        <div class="d-flex flex-row mb-3">
                          <div class="p-2">
                            <a class="read_more" href="javascript:void(0)"> <span class="p-2">Contacto What</span></a>
                          </div>
                          <div class="p-2">
                            a partir de
                            <br>
                            <div>
                              <h3 class=""
                                style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left; padding-bottom: 30px;">
                                ....
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- controls -->

        </div>
      </div>
    </div>
    <!-- end banner -->
    <!-- about -->
    <div class="about">
      <div class="container_width">
        <div class="row d_flex">
          <div class="col-md-7">
            <div class="titlepage text_align_left">
              <h2>Conecte-se com milhares de pessoas diariamente </h2>
              <p>
                A internet é um universo sem fronteiras, mas para que a sua empresa tenha sucesso nela é preciso se
                destacar.
                Criar a estratégia certa de Marketing Digital nas redes social para a sua empresa irá atrair mais
                clientes em potencial com o custo menor que o marketing tradicional.
                <br>
                Aumente as suas chances de ser visto e conquiste mais clientes.

              </p>

              <a class="read_more"
                href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                Entrar em contacto whatsapp</a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="about_img text_align_center">
              <figure><img src="./assets/images/gestao-de-midia-social-min-1.png" alt="#" /></figure>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- end about Coronavirus Cases -->






    <div class="copyright">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>


    <!-- end protect -->


    <div class="protect">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage text_align_center">
              <h2>BENEFICIOS DA GESTÃO DE MÍDIAS SOCIAIS:</h2>
              <p>FAZEMOS COM QUE SUA EMPRESA SEJA VISTA:
                <br>
                PUBLICANDO • ENGAJANDO• ATRAINDO • CONVERTENDO
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="protect_bg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!--  Demos -->
              <div class="">
            
                <div class="row ">

                  <div class=" col-md-6">
  
                    <div class="" data-wow-delay="0.1s">
  
                      <div class="row ">
  
                          
                        <div class=" col-md-6">
                          <div class="item">
                            <div class="protect_box text_align_center">
                              <div class="desktop">
                                <i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>
                                <h3> Fidelização </h3>
                                <span> Após uma conversão bem sucedida, você mantem o seu cliente informado para outras conversões</span>
                              </div>
                            
                            </div>
                          </div>
                        </div>
                        <div class=" col-md-6">
                          <div class="item">
                            <div class="protect_box text_align_center">
                              <div class="desktop">
                                <i class="fa fa-users fa-3x" aria-hidden="true"></i>
                                <h3> Oportunidades </h3>
                                <span> Cada post publicado em uma rede social à uma oportunidade para converter usuários em clientes.</span>
                              </div>
                            
                            </div>
                          </div>
  
                        </div>
  
                        <div class=" col-md-6">
                          <div class="item">
                            <div class="protect_box text_align_center">
                              <div class="desktop">
                                <i class="fa fa-bar-chart fa-3x" aria-hidden="true"></i>
                                <h3> Baixo investimento</h3>
                                <span> É possível atingir um grande número de pessoas com baixo investimento</span>
                              </div>
                            </div>
                          </div>
                          </div>
                        <div class=" col-md-6">
                          <div class="item">
                            <div class="protect_box text_align_center">
                              <div class="desktop">
                                <i class="fa fa-snowflake-o fa-3x" aria-hidden="true"></i>
                                <h3> Exposição de Marca</h3>
                                <span>Marcando presença diarimente, você fortalece a marca e gera confiança</span>
                              </div>
                            
                            </div>
                          </div>
  
                        </div>
                      </div>
  
  
   
  
                    </div>
  
                  </div>
  
                  <div class=" col-md-6">
  
                    <div class="" data-wow-delay="0.1s">
                      <div class="about_img text_align_center">
                        <figure><img src="./assets/images/gestao-de-midias-sociais.png" alt="#" /></figure>
                      </div>
  
                    </div>
  
                  </div>
  
                </div>
  
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




     


    <!-- O seu HTML vem aqui! -->

    <div class="doctors">
      <div class="cevery_white">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="titlepage">
                <h2>Logo MARCAS feitas por nós </h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="gallery">
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo0010.jpg">
            <figcaption>AGua Da Terra</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo004.jpg">
            <figcaption>Joferbino</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo001.jpg">
            <figcaption>Doar Digital</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/ark_tracos.jpg">
            <figcaption>Ark - Tracos</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo003.jpg">
            <figcaption>Nibk</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo002.jpg">
            <figcaption>JMDO Despachante Oficial</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo005.jpg">
            <figcaption>Sejs</figcaption>
          </figure>
          </a>
        </div>

        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo012.jpg">
            <figcaption>Basy Gomes</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo0013.jpg">
            <figcaption>Efrielm</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo015.jpg">
            <figcaption>LJ Tour</figcaption>
          </figure>
          </a>
        </div>
        <div class="item">

          <figure>
            <img src="./assets/images/portifolio/logo014.jpg">
            <figcaption>Night Vision</figcaption>
          </figure>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>