<div>

  <div>

    <!-- end loader -->
    <!-- top -->
    <!-- header  -->
    <div class="full_bg_marketing">
      <!-- header inner -->
      <div class="section">
        <!-- carousel code -->
        <div id="banner1" class="pt-5">

          <div class="carousel-inner">
            <!-- first slide -->
            <div class="carousel-item active">
              <div class="carousel-caption cuplle">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="photog">
                        <h1><span>Gestão</span> de mídia social</h1>
                        <span class="sobtitulo">CONQUISTE MAIS CLIENTES ATRAVÉS DAS REDES SOCIAIS!</span>



                        <div class="d-flex flex-row mb-3">
                          <div class="p-2">
                            <a class="read_more" href="javascript:void(0)"> <span class="p-2">Ver Planos</span></a>
                          </div>
                          <div class="p-2">
                            a partir de
                            <br>
                            <div>
                              <h3 class=""
                                style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left; padding-bottom: 30px;">
                                75.000 kz*
                              </h3>

                            </div>

                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- controls -->

        </div>
      </div>
    </div>

    <!-- about -->
    <div class="about">
      <div class="container_width">
        <nav class="menu-service">
          <ul>
            <li><a href="#/gestao-de-redes-sociais" class="active">Gestão de Mídias Sociais</a></li>
            <li><a href="#/link-patrocinado">Links Patrocinado</a></li>
            <li><a href="#/criacao-flyer-folder">Email Marketing</a></li>
          </ul>
        </nav>
        <div class="row d_flex pt-5">
          <div class="col-md-7">
            <div class="titlepage text_align_left">
              <h2>Conecte-se com milhares de pessoas diariamente </h2>
              <p>
                A internet é um universo sem fronteiras, mas para que a sua empresa tenha sucesso nela é preciso se
                destacar.
                Criar a estratégia certa de Marketing Digital nas redes social para a sua empresa irá atrair mais
                clientes em potencial com o custo menor que o marketing tradicional.
                <br>
                Aumente as suas chances de ser visto e conquiste mais clientes.

              </p>

              <a class="read_more"
                href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                Entrar em contacto whatsapp</a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="about_img text_align_center">
              <figure><img src="./assets/images/gestao-de-midia-social-min-1.png" alt="#" /></figure>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- end about Coronavirus Cases -->





    <div class="protect">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage text_align_center blue-border text-center mrgb4x">
              <h2>Nossos Planos</h2>
              <p>
                Escolha o plano ideal para voçe
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-4">
            <div class="planos">
              <!-- Plano Start -->
              <div class="plano">
                <h3>Plano Start</h3>
                <p class="preco"><small>kz</small> 48.900 <small>/ único</small></p>
 <p><b>Indicado para:</b> pequenos negócios e profissionais autônomos.</p>

                <ul>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Gestão de 1 rede social (Facebook ou Instagram)</span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> 8 a 10 publicações/mês </span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> 7 Artes gráficas simples </span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Legendas e hashtags</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Publicação do conteúdo</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Respostas básicas a mensagens e comentários</span> </li>
 <p><b>Tráfego Pago BÁSICO:</b> </p>
 <br>  

  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Configuração no Gerenciador de Anúncios</span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Campanha básico durante os 7 dias </span></li>
               <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Relatório simples ao final da Campanha </span></li>
                </ul>
                <a href="#" class="btn">Solicitar ➝</a>
              </div>
            </div>
          </div>
          <div class=" col-md-4">
            <div class="planos">
              <div class="plano destacado">
                <div class="most-popular">Mais Popular</div>
                <h3 class="pt-5">Plano Standard</h3>
                <p class="preco"><small>kz</small> 75.900 <small>/ único</small></p>
              
 <p class="text-plano-destaque"><b>Indicado para:</b> empresas em crescimento.</p>
              
                <ul>

                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Gestão de 2 redes sociais (Facebook + Instagram) </span></b></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> 12 a 16 publicações/mês </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque">12 Artes personalizadas </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Planeamento estratégico de conteúdo </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Stories (4 a 6/mês) </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Gestão de mensagens e comentários </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque">Relatório mensal detalhado </span></li>

 <p><b   class="text-plano-destaque">Tráfego Pago INTERMEDIÁRIO:</b> </p>
 <br>  
   
  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"  style="background-color: #ffffff;"> </i></span> <span
                      class="text-plano-destaque">Configuração no Gerenciador de Anúncios</span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"  style="background-color: #ffffff;"> </i></span> <span
                      class="text-plano-destaque"> Campanha durante 15 dias  </span></li>
                        <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"  style="background-color: #ffffff;"> </i></span> <span
                      class="text-plano-destaque">Segmentação avançada de público</span></li>
               <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"  style="background-color: #ffffff;"> </i></span> <span
                      class="text-plano-destaque">Relatório detalhado (alcance, cliques e mensagens) </span></li>
                </ul>
                <a href="#" class="btn">Solicitar ➝</a>
              </div>
            </div>
          </div>

          <div class=" col-md-4">
            <div class="planos">
              <div class="plano">
                <h3>Plano Premium</h3>
                <p class="preco"><small>kz</small> 129.900 <small>/ único</small></p>

                 <p><b>Indicado para:</b> empresas que querem vender mais e crescer rápido. </p>

                <ul>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Gestão de 3 redes sociais (Facebook, Instagram, WhatsApp Business ou TikTok)</b></span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> 18 a 25 publicações/mês</span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">18 Design profissional e identidade visual</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Planeamento mensal de conteúdo</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">2 Criação de vídeos Publicitário</span> </li>
                         <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Criação de vídeos (Reels)</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Stories frequentes</span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Relatório analítico completo</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Gestão completa de mensagens</span> </li>

                       <p><b>Tráfego Pago AVANÇADO:</b> </p>
                       <br>  

  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Configuração no Gerenciador de Anúncios</span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Campanha  durante os 25 dias   </span></li>
                        <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Segmentação avançada de público</span></li>
                       <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Otimização contínua</span></li>
               <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Relatório analítico completo com recomendações </span></li>

                </ul>
                <a href="#" class="btn">Solicitar ➝</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


    <!-- end protect -->




    <div class="protect">


      <div class="container">
        <div class="row">


          <div class="about2">
            <div class="container_width">
              <div class="row d_flex">
                <div class="col-md-4">
                  <div class="titlepage text_align_left">
                    <h3>BENEFICIOS DA GESTÃO DE MÍDIAS SOCIAIS:</h3>
                    <p>FAZEMOS COM QUE SUA EMPRESA SEJA VISTA:
                      <br>
                      PUBLICANDO • ENGAJANDO• ATRAINDO • CONVERTENDO
                    </p>

                  </div>
                </div>
                <div class="col-md-8">

                  <div class="row">

                    <div class="col-lg-6 col-12 p-1" data-wow-delay="0.1s">
                      <div class=" align-items-center">
                        <div class="flipbox-container">
                          <!-- flipbox front -->
                          <div class="nos  p-4">
                            <div class="flipbox-content">
                              <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                style="width: 100%; height: 80px;">
                                <i class="fa fa-solid fa-handshake-o fa-3x text-white"></i>
                              </div>
                              <div class="ms-3">
                                <h3 class="m-0 text-center"
                                  style="color: rgb(185, 0, 0); font-weight: bold; font-size: 26px;">Fidelização </h3>
                                <h6 class="m-2 text-white text-center" style="font-weight: bold; font-size: 14px;">
                                  Após uma conversão bem sucedida, você mantem o seu cliente informado para outras
                                  conversões </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 col-12 p-1" data-wow-delay="0.1s">
                      <div class=" align-items-center">
                        <div class="flipbox-container">
                          <!-- flipbox front -->
                          <div class="nos p-4">
                            <div class="flipbox-content">
                              <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                style="width: 100%; height: 80px;">
                                <i class="fa fa-solid fa-users fa-3x text-white"></i>
                              </div>
                              <div class="ms-3">
                                <h3 class="m-0 text-center"
                                  style="color: rgb(185, 0, 0); font-weight: bold; font-size: 26px;">
                                  Oportunidades </h3>


                                <h6 class="m-2 text-white text-center" style="font-weight: bold; font-size: 14px;">
                                  Cada post publicado em uma rede social à uma oportunidade para converter usuários em
                                  clientes. </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 col-12 p-1" data-wow-delay="0.1s">
                      <div class=" align-items-center">
                        <div class="flipbox-container">
                          <!-- flipbox front -->
                          <div class="nos  p-4">
                            <div class="flipbox-content">
                              <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                style="width: 100%; height: 80px;">
                                <i class="fa fa-solid fa-bar-chart fa-3x text-white"></i>
                              </div>
                              <div class="ms-3">
                                <h3 class="m-0 text-center"
                                  style="color: rgb(185, 0, 0); font-weight: bold; font-size: 26px;">
                                  Baixo investimento </h3>
                                <h6 class="m-2 text-white text-center" style="font-weight: bold; font-size: 14px;">
                                  É possível atingir um grande número de pessoas com baixo investimento</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 col-12 p-1" data-wow-delay="0.1s">
                      <div class=" align-items-center">
                        <div class="flipbox-container">
                          <!-- flipbox front -->
                          <div class="nos  p-4">
                            <div class="flipbox-content">
                              <div class="d-flex flex-shrink-0 align-items-center justify-content-center"
                                style="width: 100%; height: 80px;">
                                <i class="fa fa-solid fa-snowflake-o  fa-3x text-white"></i>
                              </div>
                              <div class="ms-3">
                                <h3 class="m-0 text-center"
                                  style="color: rgb(185, 0, 0); font-weight: bold; font-size: 26px;">
                                  Exposição de Marca </h3>


                                <h6 class="m-2 text-white text-center" style="font-weight: bold; font-size: 14px;">
                                  Marcando presença diarimente, você fortalece a marca e gera confiança</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>




    </div>
  </div>