<div>
    <div class="container">

        <!-- HERO -->
        <section class="hero_port">
            <p style=" color: #a52a2a;">PORTFÓLIO</p>
            <h1>Trabalhos Realizados: <br> Exemplos de <span>Sucesso</span></h1>
        </section>


        <!-- SUBTITLE -->
        <div class="subtitle">
            <p>ALGUNS EXEMPLOS</p>
            <h3>Transformando Ideias em Realidade</h3>
            <button class="btn btn-custom">PEDIR UM ORÇAMENTO</button>
        </div>

        <!-- PORTFOLIO -->
        <section class="portfolio">
            <div class="container_portfolio">

                <!-- TABS -->
                <div class="tabs">
                    <div class="tab" :class="{active: activeTab === 0}" @click="activeTab = 0">
                        WebSite / Lojas
                    </div>

                    <div class="tab" :class="{active: activeTab === 1}" @click="activeTab = 1">
                        Designer
                    </div>

                    <div class="tab" :class="{active: activeTab === 2}" @click="activeTab = 2">
                        Video Publicitario
                    </div>
                </div>

                <!-- CARDS (HTML REAL) -->
                <div class="card" :class="{active: activeTab === 0}">

                    <div class="row g-3">

                        <!-- ITEM -->

                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="portfolio-img" style="background-image:url('assets/img/portfolio/website001.jpeg');"></div>
                                <div class="portfolio-title">ecco</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="portfolio-img" style="background-image:url('assets/img/portfolio/website002.jpg');"></div>
                                <div class="portfolio-title">Famp</div>
                            </div>
                        </div>

                        <!-- DUPLICAR ITENS -->
                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="portfolio-img" style="background-image:url('assets/img/portfolio/website003.jpg');"></div>
                                <div class="portfolio-title">FDULAN</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="portfolio-item">
                                <div class="portfolio-img" style="background-image:url('assets/img/portfolio/website004.jpg');"></div>
                                <div class="portfolio-title">Melkor</div>
                            </div>
                        </div>


                        <!-- MAIS ITENS -->



                    </div>

                </div>

                <div class="card" :class="{active: activeTab === 1}">
                    <h3>Lojas Online</h3>
                    <p>Venda produtos com pagamento online integrado.</p>
                    <button>Comprar agora</button>
                </div>

                <div class="card" :class="{active: activeTab === 2}">
                    <h3>Portais</h3>
                    <p>Sistemas completos com usuários e conteúdos dinâmicos.</p>
                    <button>Acessar</button>
                </div>



            </div>
        </section>

    </div>
</div>