<div>

  <div>

    <!-- end header -->
    <div class="full_bg_site">
      <!-- header inner -->
      <div class="section">
        <!-- carousel code -->
        <div id="banner1" class="pt-5">

          <div class="carousel-inner">
            <!-- first slide -->
            <div class="carousel-item active">
              <div class="carousel-caption cuplle">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="photog">
                        <h1>Criação de <br><span>lojas virtuais</span></h1>
                        <span class="sobtitulo">Faça sua empresa vender mais na internet. Sabemos como fazer!</span>


                        <div class="d-flex flex-row mb-3">
                          <div class="p-2">
                            <a class="read_more" href="javascript:void(0)"> <span class="p-2">Ver Planos</span></a>
                          </div>
                          <div class="p-2">
                            a partir de
                            <br>
                            <div>
                              <h3 class=""
                                style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left; padding-bottom: 30px;">
                                80.000 kz*
                              </h3>

                            </div>

                          </div>

                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- controls -->

        </div>
      </div>
    </div>
    <!-- end banner -->
    <!-- about -->
    <div class="about">
      <div class="container_width">
        <nav class="menu-service">
          <ul>
            <li><a href="#/criacao-de-sites">WebSite</a></li>
            <li><a href="#/criacao-de-loja-virtual" class="active">Loja Online</a></li>
            <li><a href="#/app-web">Apps & Sistema Web </a></li>
            <li><a href="#/dominio">Dominio</a></li>
            <li><a href="#/hospedagem">Hospedagem</a></li>
          </ul>
        </nav>

        <div class="row d_flex  pt-5">
          <div class="col-md-7">
            <div class="titlepage text_align_left">
              <h2>já pensou em ter uma loja virtual? </h2>

              <h5>O mercado do e-commerce em Angola só cresce</h5>
              <p>
                À medida que as compras online se tornam cada vez mais populares, serviços de e-commerce eficientes e
                intuitivos são a chave para garantir a satisfação do cliente e o sucesso dos negócios no mundo digital
                <br>
                Expanda seus negócios com nossos serviços de e-commerce de alta qualidade.
              </p>

              <a class="read_more"
                href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                Entrar em contacto whatsapp</a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="about_img text_align_center">
              <figure><img src="./assets/images/LOJA-ONLIN.png" alt="#" /></figure>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- end about Coronavirus Cases -->




    <div class="protect">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage text_align_center blue-border text-center mrgb4x">
              <h2>Nossos Planos para Voce </h2>
              <p>
                Escolha o plano ideal para a sua empresa
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-4">
            <div class="planos">
              <!-- Plano Start -->
              <div class="plano">
                <h3>Plano Start</h3>
                <p class="preco"><small>kz</small> 129.900 <small>/ único</small></p>
                <ul>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"><b>Modelo padrao </b></span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Painel de Gestão de Conteúdos </span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Vídeo & Slide Show Dinâmico </span></li>

                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Botões e hiperligações</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Localização Estatica</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Hospedagem / 1 Ano</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Domínio .com / 1 Ano</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> 3 E-Mails Corporativos</span> </li>
                </ul>
                <a href="#" class="btn">Solicitar ➝</a>
              </div>
            </div>
          </div>
          <div class=" col-md-4">
            <div class="planos">
              <div class="plano destacado">
                <div class="most-popular">Most Popular</div>
                <h3 class="pt-5">Plano Standard</h3>
                <p class="preco"><small>kz</small> 219.900 <small>/ único</small></p>
                <ul>

                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Tudo do <b>Plano Start. </span></b></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"><b>Modelo Personalizado </b></span></li>
                      <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque">Área de Clientes </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque">Área de Publicidades</span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Localização Dinâmica(Google Mapa) </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Formulário Personalizado </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Newsletter Formulário </span></li>

                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Área de Notícias/Blogs Estatica </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> 5 E-Mails Corporativos </span></li>
                </ul>
                <a href="#" class="btn">Solicitar ➝</a>
              </div>
            </div>
          </div>
          <div class=" col-md-4">
            <div class="planos">
              <div class="plano">
                <h3>Plano Premium</h3>
                <p class="preco"><small>kz</small> 339.900 <small>/ único</small></p>
                <ul>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Páginas ilimitadas</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Site personalizado de acordo a solicitacão do cliente</span> </li>

                </ul>
                <a href="#" class="btn">Solicitar ➝</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- end protect -->



    <!-- doctors -->
    <div class="protect  ">
      <div class="container">
        <div class="row d_flex">

          <div class=" col-md-6">
            <div class="titlepage text_align_left">
              <h2>CRIAMOS SUA LOJA VIRTUAL PROFISSIONAL </h2>
              <br> <br>
              <p>
                Não existem fronteiras para quem tem uma loja virtual, a sua empresa ficará aberta 24h por dia no
                ambiente virtual.
                Com oportunidade de gerar vendas para o mundo inteiro
                <br> <br>
                Que tal potencializar suas vendas criando um e-commerce com a JLSystem.
              </p>

            </div>

          </div>
          <div class=" col-md-6">
            <div id="ho_efcet" class="reader">
              <div class=" text_align_center">

                <i><img src="./assets/images/doctor3.png" alt="#" /></i>
                <h3>Por que criar uma loja virtual?</h3>
              </div>
              <br>

              <div class="" data-wow-delay="0.1s">

                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Menor custo de manutenção

                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Funcionamento 24 horas por dia
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Alcance maior de consumidores
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Os riscos são menores
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
 

    <div class="copyright">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>

    <!-- end protect -->

    <!-- doctors -->
    <div class="doctors">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage text_align_center ">
              <h2>O Que Nosso Serviço Inclui..?</h2>
              <p>Benefícios para criar seu site com a JLSySTEM</p>
            </div>
          </div>
        </div>
        <div class="row d_flex">
          <div class=" col-md-4">
            <div id="ho_efcet" class="reader text_align_center">
              <i><img src="./assets/images/doctor1.png" alt="#" /></i>
              <h3>Site Responsivo</h3>
              <p>Seu site pronto para funcionar corretamente em qualquer dispositivo. Computadores, celulares e tablets,
                adaptado a qualquer tamanho basiando no aparelho.</p>

            </div>
          </div>
          <div class=" col-md-4">
            <div id="ho_efcet" class="reader text_align_center">
              <i><img src="./assets/images/doctor2.png" alt="#" /></i>
              <h3>Crescendo com você</h3>
              <p>
                A JLSystem se preocupa com o crescimeto dos seus clientes. Queremos oferecer as ferramentas necessárias
                para o crescimento do seu negócio e, juntos, alcançarmos o sucesso!.</p>

            </div>
          </div>
          <div class=" col-md-4">
            <div id="ho_efcet" class="reader">
              <div class=" text_align_center">

                <i><img src="./assets/images/doctor3.png" alt="#" /></i>
                <h3>Outros benefícios ...</h3>
              </div>
              <br>

              <div class="" data-wow-delay="0.1s">

                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Contacto mais fácil com o cliente
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Expande seu mercado
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Mais credibilidade e fortalecimento da marca
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Pode ser um grande diferencial em relação aos seus concorrentes
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Aplicação de marketing de conteúdo
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Menor custo na aquisição de clientes
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Maior alcance, etc.
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- end cases -->

  </div>
</div>