<div>

  <div>




    <!-- logo1 -->
  
    <!-- end loader -->
    <!-- top -->
    <!-- header  -->
    <header class="header-area">
  
      <div class="container">
        <div class="row d_flex">
          <div class="col-sm-3 logo_sm">
            <div class="logo">
              <a href="index.html"></a>
            </div>
          </div>
          <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-9">
            <div class="navbar-area">
              <nav class="site-navbar" style="justify-content: center; justify-items: center;">
                <ul>
                  <li><a href="#/criacao-de-sites">WebSite</a></li>
                  <li><a class="active" href="#/criacao-de-loja-virtual">Loja Online</a></li>
                  <li><a href="doctores.html">Aplicativos</a></li>
                  <li><a href="index.html">Hospedagem</a></li>
                  <li><a href="news.html">Dominio</a></li>
  
                </ul>
              
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->
    <div class="full_bg">
      <!-- header inner -->
      <div class="section">
        <!-- carousel code -->
        <div id="banner1" class="carousel slide slider_main">
  
          <div class="carousel-inner">
            <!-- first slide -->
            <div class="carousel-item active">
              <div class="carousel-caption cuplle">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="photog">
                        <h1>Criação de <br>lojas virtuais</h1>
                        <span>Faça sua empresa vender mais na internet. Sabemos como fazer!</span>
  
  
                        <div class="d-flex flex-row mb-3">
                          <div class="p-2">
                            <a class="read_more" href="javascript:void(0)"> <span class="p-2">Ver Planos</span></a>
                          </div>
                          <div class="p-2">
                            a partir de
                            <br>
                            <div>
                              <h3 class="" style="color: #b90000; padding: 0; font-size: 26px;  font-weight: bold; text-align: left; padding-bottom: 30px;">
                                80.000 kz*
                              </h3>
  
                            </div>
  
                          </div>
  
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
  
          </div>
          <!-- controls -->
  
        </div>
      </div>
    </div>
    <!-- end banner -->
    <!-- about -->
    <div class="about">
      <div class="container_width">
        <div class="row d_flex">
          <div class="col-md-7">
            <div class="titlepage text_align_left">
              <h2>já pensou em ter uma loja virtual? </h2>
              
              <h5>O mercado do e-commerce em Angola só cresce</h5>
              <p>
                À medida que as compras online se tornam cada vez mais populares, serviços de e-commerce eficientes e intuitivos são a chave para garantir a satisfação do cliente e o sucesso dos negócios no mundo digital
                <br> 
                Expanda seus negócios com nossos serviços de e-commerce de alta qualidade.
              </p>
  
              <a class="read_more"
                href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                Entrar em contacto whatsapp</a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="about_img text_align_center">
              <figure><img src="./assets/images/LOJA-ONLIN.png" alt="#" /></figure>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <!-- end about Coronavirus Cases -->
   



      <!-- doctors -->
      <div class="protect  ">
        <div class="container">
          <div class="row d_flex">
        
            <div class=" col-md-6"> 
              <div class="titlepage text_align_left">
                <h2>CRIAMOS SUA LOJA VIRTUAL PROFISSIONAL </h2>
                <br>           <br>
                <p>
                  Não existem fronteiras para quem tem uma loja virtual, a sua empresa ficará aberta 24h por dia no ambiente virtual.
                  Com oportunidade de gerar vendas para o mundo inteiro
                  <br>           <br>
                  Que tal potencializar suas vendas criando um e-commerce com a JLSystem.
                </p>
     
              </div>
              
            </div>
            <div class=" col-md-6">
              <div id="ho_efcet" class="reader">
                <div class=" text_align_center">
    
                  <i><img src="./assets/images/doctor3.png" alt="#" /></i>
                  <h3>Por que criar uma loja virtual?</h3>
                </div>
                <br>
    
                <div class="" data-wow-delay="0.1s">
    
                  <div class=""><i class="fa fa-check text-success me-3"></i>
                    Menor custo de manutenção

                  </div>
                  <div class=""><i class="fa fa-check text-success me-3"></i>
                    Funcionamento 24 horas por dia
                  </div>
                  <div class=""><i class="fa fa-check text-success me-3"></i>
                       Alcance maior de consumidores
                  </div>
                  <div class=""><i class="fa fa-check text-success me-3"></i>
                   Os riscos são menores
                  </div>
                  
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>
   
    <div class="protect">
  
      <div class="container">
  
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage text_align_center blue-border text-center mrgb4x">
              <h2>Nossos Planos para Voce </h2>
              <p>
                Escolha o plano ideal para a sua empresa
              </p>
            </div>
          </div>
        </div>
  
  
        <div class="snip1299">
          <div class="plan">
            <header>
              <h4 class="plan-title">
                Starter
              </h4>
              <div class="plan-cost">
                <span class="plan-type">a partir de:</span>
                <br>
                <span class="plan-price">75.000kz</span>
              </div>
            </header>
            <ul class="plan-features">
              <li><i class="ion--checkmark"> </i> Até 5 (ver paginas)</li>
              <li><i class="weui--close-filled"> </i>Subpáginas</li>
              <li><i class="ion--checkmark"> </i>Vídeo & Slide Show Dinâmico 2 max</li>
              <li><i class="ion--checkmark"> </i>Integração com Redes Sociais</li>
              <li><i class="weui--close-filled"> </i>Newsletter Formulário</li>
  
              <li><i class="ion--checkmark"> </i>Botão do whatsapp</li>
              <li><i class="ion--checkmark"> </i>Localização Estatica</li>
              <li><i class="weui--close-filled"> </i>Localização Dinâmica(Google Mapa)</li>
              <li><i class="weui--close-filled"> </i>Formulário Personalizado </li>
              <li><i class="weui--close-filled"> </i> Página de Projeto/Portfolio </li>
              <li><i class="weui--close-filled"> </i>Área de Notícias/Blogs </li>
              <li><i class="weui--close-filled"> </i>Chat de Atendimento Online </li>
              <li><i class="weui--close-filled"> </i> Personalização por Solicitação</li>
  
            </ul>
            <div class="plan-select"><a href="">Seleciona Plano</a></div>
          </div>
  
          <div class="plan">
            <header>
              <h4 class="plan-title">
                Basic
              </h4>
              <div class="plan-cost">
                <span class="plan-type">a partir de:</span>
                <br>
                <span class="plan-price">115.000kz</span>
              </div>
            </header>
            <ul class="plan-features">
              <li><i class="ion--checkmark"> </i> Até 10(ver paginas)</li>
              <li><i class="ion--checkmark"> </i>Até 6 Subpáginas</li>
              <li><i class="ion--checkmark"> </i>Vídeo & Slide Show Dinâmico 12 max.</li>
              <li><i class="ion--checkmark"> </i>Integração com Redes Sociais</li>
              <li><i class="weui--close-filled"> </i>Newsletter Formulário</li>
  
              <li><i class="ion--checkmark"> </i>Botão do whatsapp</li>
              <li><i class="ion--checkmark"> </i>Localização Estatica</li>
              <li><i class="weui--close-filled"> </i>Localização Dinâmica(Google Mapa)</li>
  
              <li><i class="ion--checkmark"> </i>Formulário Personalizado 1</li>
              <li><i class="ion--checkmark"> </i> Página de Projeto/Portfolio </li>
              <li><i class="weui--close-filled"> </i>Área de Notícias/Blogs </li>
              <li><i class="weui--close-filled"> </i>Chat de Atendimento Online </li>
              <li><i class="weui--close-filled"> </i> Personalização por Solicitação</li>
  
            </ul>
            <div class="plan-select"><a href="">Seleciona Plano</a></div>
          </div>
          <div class="plan featured">
            <header>
              <h4 class="plan-title">
                Professional
              </h4>
              <div class="plan-cost">
                <span class="plan-type">a partir de:</span>
                <br>
                <span class="plan-price">180.000kz</span>
              </div>
            </header>
            <ul class="plan-features">
              <li><i class="ion--checkmark"> </i> Até 16(ver paginas)</li>
              <li><i class="ion--checkmark"> </i>Até 9 Subpáginas</li>
              <li><i class="ion--checkmark"> </i>Vídeo & Slide Show Dinâmico 20 max</li>
              <li><i class="ion--checkmark"> </i>Integração com Redes Sociais</li>
  
              <li><i class="ion--checkmark"> </i>Newsletter Formulário</li>
              <li><i class="ion--checkmark"> </i>Botão do whatsapp</li>
              <li><i class="ion--checkmark"> </i>Localização Estatica</li>
              <li><i class="ion--checkmark"> </i>Localização Dinâmica(Google Mapa)</li>
  
              <li><i class="ion--checkmark"> </i>Formulário Personalizado 5</li>
              <li><i class="ion--checkmark"> </i> Página de Projeto/Portfolio </li>
              <li><i class="weui--close-filled"> </i>Área de Notícias/Blogs </li>
              <li><i class="weui--close-filled"> </i>Chat de Atendimento Online </li>
              <li><i class="weui--close-filled"> </i> Personalização por Solicitação</li>
  
            </ul>
            <div class="plan-select"><a href="">Seleciona Plano</a></div>
          </div>
          <div class="plan">
            <header>
              <h4 class="plan-title">
                Ultra
              </h4>
              <div class="plan-cost">
                <span class="plan-type">a partir de:</span>
                <br>
                <span class="plan-price">250.000kz</span>
              </div>
            </header>
            <ul class="plan-features">
              <li><i class="ion--checkmark"> </i> Até 35(ver paginas)</li>
              <li><i class="ion--checkmark"> </i>Até 16 Subpáginas</li>
              <li><i class="ion--checkmark"> </i>Vídeo & Slide Show Dinâmico Ilimitado</li>
              <li><i class="ion--checkmark"> </i>Integração com Redes Sociais</li>
              <li><i class="ion--checkmark"> </i>Newsletter Formulário</li>
  
              <li><i class="ion--checkmark"> </i>Botão do whatsapp</li>
              <li><i class="ion--checkmark"> </i>Localização Estatica</li>
              <li><i class="ion--checkmark"> </i>Localização Dinâmica(Google Mapa)</li>
  
              <li><i class="ion--checkmark"> </i>Formulário Personalizado 15</li>
              <li><i class="ion--checkmark"> </i> Página de Projeto/Portfolio </li>
              <li><i class="ion--checkmark"> </i>Área de Notícias/Blogs </li>
              <li><i class="ion--checkmark"> </i>Chat de Atendimento Online </li>
              <li><i class="ion--checkmark"> </i> Personalização por Solicitação</li>
  
            </ul>
            <div class="plan-select"><a href="">Seleciona Plano</a></div>
          </div>
        </div>
      </div>
    </div>
   
    <div class="copyright">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </div>
   
    <!-- end protect -->
   
    <!-- doctors -->
    <div class="doctors">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage text_align_center ">
              <h2>O Que Nosso Serviço Inclui..?</h2>
              <p>Benefícios para criar seu site com a JLSySTEM</p>
            </div>
          </div>
        </div>
        <div class="row d_flex">
          <div class=" col-md-4">
            <div id="ho_efcet" class="reader text_align_center">
              <i><img src="./assets/images/doctor1.png" alt="#" /></i>
              <h3>Site Responsivo</h3>
              <p>Seu site pronto para funcionar corretamente em qualquer dispositivo. Computadores, celulares e tablets,
                adaptado a qualquer tamanho basiando no aparelho.</p>
  
            </div>
          </div>
          <div class=" col-md-4">
            <div id="ho_efcet" class="reader text_align_center">
              <i><img src="./assets/images/doctor2.png" alt="#" /></i>
              <h3>Crescendo com você</h3>
              <p>
                A JLSystem se preocupa com o crescimeto dos seus clientes. Queremos oferecer as ferramentas necessárias
                para o crescimento do seu negócio e, juntos, alcançarmos o sucesso!.</p>
  
            </div>
          </div>
          <div class=" col-md-4">
            <div id="ho_efcet" class="reader">
              <div class=" text_align_center">
  
                <i><img src="./assets/images/doctor3.png" alt="#" /></i>
                <h3>Outros benefícios ...</h3>
              </div>
              <br>
  
              <div class="" data-wow-delay="0.1s">
  
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Contacto mais fácil com o cliente
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Expande seu mercado
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Mais credibilidade e fortalecimento da marca
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Pode ser um grande diferencial em relação aos seus concorrentes
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Aplicação de marketing de conteúdo
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Menor custo na aquisição de clientes
                </div>
                <div class=""><i class="fa fa-check text-success me-3"></i>
                  Maior alcance, etc.
                </div>
  
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <!-- end cases -->
   
  </div>
</div>