<div>
  <div>
    <!-- end loader -->
    <!-- top -->
    <!-- header  -->

    <!-- end header -->
    <div class="full_bg_site">
      <!-- header inner -->
      <div class="section">
        <!-- carousel code -->
        <div id="banner1" class="pt-5">

          <div class="carousel-inner">
            <!-- first slide -->
            <div class="carousel-item active">
              <div class="carousel-caption cuplle">
                <div class="container">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="photog">
                        <h1>Criação de <br><span>WebSites</span> </h1>
                        <span class="sobtitulo">Tenha um Site de alta performance para sua empresa.</span>


                       

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <!-- controls -->

        </div>
      </div>
    </div>
    <!-- end banner -->
    <!-- about -->
    <div class="about">
      <div class="container_width">
        <nav class="menu-service">
          <ul>
            <li><a href="#/criacao-de-sites" class="active">WebSite</a></li>
            <li><a href="#/criacao-de-loja-virtual">Loja Online</a></li>
            <li><a href="#/app-web">Apps & Sistema Web </a></li>
            <li><a href="#/">Dominio</a></li>
            <li><a href="#/">Hospedagem</a></li>
          </ul>
        </nav>

        <div class="row d_flex  pt-5">
          <div class="col-md-7">
            <div class="titlepage text_align_left">
              <h2>Criação de Site Profissional! </h2>
              <p>
                Nos tempos modernos sua empresa precisa estar muito bem posicionada na internet.
                <br>
                Ter sua empresa conectada no mundo digital é uma necessidade para qualquer empresa que almeja ampliação
                no mercado digital, a consolidação da Marca e o aumento da receitas com baixo custo.
                <br>
                Sua presença on-line é o que ajuda as empresas a crescer por ter alta visibilidade entre os clientes em
                potencial. Qualquer negócio, grande ou pequeno, deve ter a expansão da presença on-line como parte
                fundamental de sua estratégia de marketing on-line
                <br>
                <br>
                Fale com nossa equipe, peça seu orçamento e seja mais um parceiro de alto nível da JLSySTEM.

              </p>

              <a class="read_more"
                href="https://api.whatsapp.com/send/?phone=244952472527&text&type=phone_number&app_absent=0">
                Entrar em contacto whatsapp</a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="about_img text_align_center">
              <figure><img src="./assets/images/about2.png" alt="#" /></figure>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- end about Coronavirus Cases -->




    <div class="protect">

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="titlepage text_align_center blue-border text-center mrgb4x">
              <h2>Nossos Planos para Voce </h2>
              <p>
                Escolha o plano ideal para a sua empresa
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class=" col-md-4">
            <div class="planos">
              <!-- Plano Start -->
              <div class="plano">
                <h3>Plano Start</h3>
                <p class="preco"><small>kz</small> 149.900 <small>/ único</small></p>
                <ul>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Até 4 (ver paginas)</span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Vídeo & Slide Show Dinâmico </span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Botão do whatsapp</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Localização Estatica</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Hospedagem / 1 Ano</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Domínio .com / 1 Ano</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> 3 E-Mails Corporativos</span> </li>
                </ul>
                <a href="#" class="btn">Solicitar ➝</a>
              </div>
            </div>
          </div>
          <div class=" col-md-4">
            <div class="planos">
              <div class="plano destacado">
                <div class="most-popular">Most Popular</div>
                <h3 class="pt-5">Plano Standard</h3>
                <p class="preco"><small>kz</small> 194.900 <small>/ único</small></p>
                <ul>

                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Tudo do <b>Plano Start. </span></b></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Até 10 (ver paginas) </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Localização Dinâmica(Google Mapa) </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Formulário Personalizado </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Newsletter Formulário </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Página de Projeto/Portfolio </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> Área de Notícias/Blogs Estatica </span></li>
                  <li><i class="ion--checkmark" style="background-color: #ffffff;"> </i> <span
                      class="text-plano-destaque"> 5 E-Mails Corporativos </span></li>
                </ul>
                <a href="#" class="btn">Solicitar ➝</a>
              </div>
            </div>
          </div>
          <div class=" col-md-4">
            <div class="planos">
              <div class="plano">
                <h3>Plano Premium</h3>
                <p class="preco"><small>kz</small> 250.000 <small>/ único</small></p>
                <ul>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Tudo do <b>Plano Standard.</b></span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Até 15 Subpáginas</span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Optimização de Site (SEO)</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Integração Google Analytics</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Área de Notícias/Blogs Dinâmico</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano"> Domínio .ao .com .net / 1 ano</span></li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">10 E-Mails Corporativos</span> </li>
                  <li class="d-flex"><span class="ion-plano"><i class="ion--checkmark"> </i></span> <span
                      class="text-plano">Personalização por Solicitação</span> </li>

                </ul>
                <a href="#" class="btn">Solicitar ➝</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <!-- end protect -->







    <div class="port">


      <div class="container-port">
        <div class="header-port">
          <h2>Portifolio</h2>
          <div class="nav-btns-port">
            <button id="prevBtn" disabled>&#8592;</button>
            <button id="nextBtn">&#8594;</button>
          </div>
        </div>

        <div class="slider-area-port">
          <div class="slider-wrapper-port">
            <div id="sliderTrack" class="slider-track-port">
              <div class="card-port"> 
                  <div class="gallery2">
                    <div class="card2">
                      <a data-fancybox="galeria"
                        data-caption='<a href="https://meusite.com/projeto1" target="_blank">Ver Projeto 1</a>'
                        href="https://picsum.photos/1920/1080?1">
                        <img src="./assets/images/portifolio/site.jpg" alt="Projeto 1" />
                      </a>
                      <a href="https://meusite.com/projeto1" class="project-btn">Projeto 1</a>
                    </div>
                  </div>
              </div>
              <div class="card-port">
   <div class="gallery2">
<div class="card2">
          <a data-fancybox="galeria"
            data-caption='<a href="https://meusite.com/projeto1" target="_blank">Ver Projeto 1</a>'
            href="https://picsum.photos/1920/1080?1">
            <img src="./assets/images/portifolio/site.jpg" alt="Projeto 1" />
          </a>
          <a href="https://meusite.com/projeto1" class="project-btn">Projeto 1</a>
        </div>
   </div>
              </div>
              <div class="card-port">
                  <div class="gallery2">
      <div class="card2">
          <a data-fancybox="galeria"
            data-caption='<a href="https://meusite.com/projeto2" target="_blank">Ver Projeto 2</a>'
            href="./assets/images/2149548139.jpg">
            <img src="./assets/images/portifolio/site2.jpg" alt="Projeto 2" />
          </a>
          <a href="https://meusite.com/projeto2" class="project-btn">Projeto 2</a>
        </div>
   </div>
              </div>
              <div class="card-port">
                   <div class="gallery2">
      <div class="card2">
          <a data-fancybox="galeria"
            data-caption='<a href="https://meusite.com/projeto2" target="_blank">Ver Projeto 2</a>'
            href="./assets/images/2149548139.jpg">
            <img src="./assets/images/portifolio/site2.jpg" alt="Projeto 2" />
          </a>
          <a href="https://meusite.com/projeto2" class="project-btn">Projeto 2</a>
        </div>
   </div>
              </div>
              <div class="card-port">
                  <div class="gallery2">
      <div class="card2">
          <a data-fancybox="galeria"
            data-caption='<a href="https://meusite.com/projeto2" target="_blank">Ver Projeto 2</a>'
            href="./assets/images/2149548139.jpg">
            <img src="./assets/images/portifolio/site2.jpg" alt="Projeto 2" />
          </a>
          <a href="https://meusite.com/projeto2" class="project-btn">Projeto 2</a>
        </div>
   </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

 
  </div>

 


</div>
</div>